<!-- ******************************************************************** -->

<style type="text/css">

.badge-danger {
  background-color: #b94a48;
}
.badge-danger:hover {
  background-color: #953b39;
}
.badge-warning {
  background-color: #f89406;
}
.badge-warning:hover {
  background-color: #c67605;
}
.badge-success {
  background-color: #468847;
}
.badge-success:hover {
  background-color: #356635;
}
.badge-info {
  background-color: #3a87ad;
}
.badge-info:hover {
  background-color: #2d6987;
}

#C0FAD691_EACD_867C_1374_22ACF302B933 .card::before {
	border-bottom: 7px solid rgba(0, 0, 0, 0.2);
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	content: "";
	display: inline-block;
	left: 7px;
	position: absolute;
	top: -7px;
}

#C0FAD691_EACD_867C_1374_22ACF302B933 .card::after {
	border-bottom: 6px solid rgba(255, 255, 255, 1.0);
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	content: "";
	display: inline-block;
	left: 8px;
	position: absolute;
	top: -6px;
}

#C0FAD691_EACD_867C_1374_22ACF302B933 .card {
	margin-top: 8px;
}

</style>

<!-- ******************************************************************** -->

<div class="modal fade" role="dialog" id="C0FAD691_EACD_867C_1374_22ACF302B933">
	<div class="modal-dialog" role="document" style="max-width: 90%; width: 90%;">
		<div class="modal-content">
			<div class="modal-header">
				<img src="{{ORIGIN_URL}}/images/logo.png" height="28" />
				<button type="button" class="close" data-dismiss="modal">×</button>
			</div>
			<div class="modal-body">

				<!-- ************************************ -->

				<div id="F0E0C2C3_B750_D75D_5734_639E449DE7C3"></div>

				<!-- ************************************ -->

				<h1><i class="fa fa-info-circle"></i> Information <small id="C5965C43_F371_0216_D5D0_FB6E32792F90"></small></h1>

				<div class="form-group">
					<label for="E704D1D0_AA06_9F62_B79E_540E003CFDB2">Free comment</label>
					<textarea class="form-control" id="E704D1D0_AA06_9F62_B79E_540E003CFDB2" style="background-color: #f5f5f5; border: none; border-radius: 4px; padding: 4px 8px; -moz-resize: none; resize: none; width: 100%;"></textarea>
				</div>

				<!-- ************************************ -->

				<h1><i class="fa fa-align-justify"></i> Datasets <small id="BBF23DB9_72C5_CAC4_1ACF_D33C342DD081"></small></h1>

				<button type="button" class="btn btn-primary btn-outline-primary btn-sm" id="D7A2964A_138B_5D24_380A_7C45BB29CBA0">
					<i class="fa fa-plus"></i>
				</button>

				<button type="button" class="btn btn-danger btn-outline-danger btn-sm" id="AAAF7B5A_432F_3894_3395_FEED09A2C750">
					<i class="fa fa-bolt"></i> Remove all datasets
				</button>

				&nbsp;

				<button type="button" class="btn btn-primary btn-outline-primary btn-sm" id="D97C3F0E_23B1_91FD_9D22_0F947409D1AD">
					<i class="fa fa-download"></i> Export datasets (CSV)
				</button>

				<button type="button" class="btn btn-primary btn-outline-primary btn-sm" id="EC61E236_3C64_F841_24F6_40A35D548083">
					<i class="fa fa-download"></i> Export datasets (TXT)
				</button>

				<!-- ************************************ -->

				<div class="card" id="F13156B6_D340_F6FF_D96E_AC297BEC4552">

					<div class="card-body">

						<div class="form-group">
							<label for="DB5E5AA2_3F0D_70F1_9380_415EE6129188">Datasets <span data-toggle="tooltip" data-toggle="tooltip" data-title="[rucio-scope:]?logical-dataset-name[/]?"><i class="fa fa-question-circle"></i></span></label>
							<textarea class="form-control" id="DB5E5AA2_3F0D_70F1_9380_415EE6129188" rows="6"></textarea>
						</div>

						<div class="text-right">
							<button type="button" class="btn btn-sm btn-primary" id="E1F57609_6048_A3F3_6EF7_B7A5C6489148"><i class="fa fa-plus"></i> Add</button>
						</div>

					</div>

				</div>

				<!-- ************************************ -->

				<div style="margin-top: 12px; overflow-y: scroll;">

					<table class="table table-sm table-striped" id="C6768D59_6B1F_786A_3F79_BA2C8E132B43">
						<thead>
							<tr>
								<th style="min-width: 75px;">Tools</th>
								<th style="min-width: 85px;">Status</th>
								<th>Datasets</th>
							</tr>
						</thead>
						<tbody>
							<!-- empty -->
						</tbody>
					</table>

				</div>

				<!-- ************************************ -->

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<!-- ******************************************************************** -->
