.jsdoc-menu a {
    color: black;
}

.jsdoc-menu ul {
    padding-left: 10px;
}

.jsdoc-menu li {
    list-style-type: none;
}

.jsdoc-content * {
	font-family: "Open Sans", "sans-serif";
}

.jsdoc-content h1,
.jsdoc-content h2,
.jsdoc-content h3,
.jsdoc-content h4 {
	font-family: "Open Sans Light", "sans-serif";
}

.jsdoc-content h1 {
	font-size: 48px;
	font-weight: 200;
	letter-spacing: -2px;
	margin: 12px 24px 20px;
}

.jsdoc-content ul {
    padding-left: 0px;
}

.jsdoc-content li {
    list-style-type: none;
}

.jsdoc-content .details {
    border-left: 2px solid #ddd;
    margin-top: 10px;
}

.jsdoc-content .details dt {
    float: left;
    padding-left: 10px;
    width: 120px;
}

.jsdoc-content .type-signature {
    color: #aaa;
}

.jsdoc-content .signature-attributes {
    color: #aaa;
    font-size: 60%;
    font-style: italic;
}

.jsdoc-content pre,
.jsdoc-content code {
	font-family: "Menlo", "Monaco", "monospace";
}
