.form-control-xs {
    height: 23px;
    padding: 1px 5px;
    line-height: 18px;
}

.sql_editor_grid {
    pointer-events: none;
    stroke: #16a085;
    stroke-opacity: 0.5;
    stroke-width: 0.5;
    transition-duration: 1s;
    transition-property: stroke-opacity;
}

#drop_zone {
    padding: 25px;
    border: LightGray 2px dashed;
    border-radius: 5px;
    color: #bbb;
    text-align: center;
}

#editor_zone svg {
    border: LightGray 1px solid;
    border-radius: 3px;
}

#ami-catalog-modeler-toolbar .btn-default {
    background-image: none;
}

#ami-catalog-modeler-tab-properties .panel-heading {
    padding: 5px 10px;
}

#ami-catalog-modeler-tab-properties .panel-body {
    background-color: LightGrey;
}

#ami-catalog-modeler-tab-properties input, #ami-catalog-modeler-tab-properties select {
    background-color: #ddd;
    width: 100%;
}
