.form-control-xs,
.form-control-xs[type="radio"],
.form-control-xs[type="checkbox"] {
	height: 23px;
	margin: 0px 0px;
	padding: 1px 5px;
	line-height: 18px;
}

.link-tools .tool-remove {
	display: none;
}

#drop_zone {
	padding: 23.5px;
	border: 2px dashed rgb(231, 231, 231);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
	color: #bbb;
}

#drop_zone:hover {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6);
}

#editor_zone svg {
	box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.15) inset, 0 1px 5px rgba(0, 0, 0, 0.075);
	border: 1px solid rgb(231, 231, 231);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#ami_catalog_modeler_toolbar .navbar-left {
	margin-left: -15px;
}

#ami_catalog_modeler_toolbar .navbar-right {
	margin-right: -15px;
}

#ami-catalog-modeler-tab-properties .panel-heading {
	padding: 5px 10px;
}

#ami_catalog_modeler_tab_properties input,
#ami_catalog_modeler_tab_properties select {
	width: 100%;
}

#__collapse1 th,
#__collapse2 th,
#__collapse3 th,
#__collapse4 th,
#__collapse5 th,
#__collapse6 th,
#__collapse7 th {
	text-align: left;
}

#__collapse1 td,
#__collapse2 td,
#__collapse3 td,
#__collapse4 td,
#__collapse5 td,
#__collapse6 td,
#__collapse7 td {
	text-align: center;
}
