<!-- ******************************************************************** -->

<style type="text/css">

[data-unit-name]:hover {

	background-color: rgb(255, 243, 205);
	border-radius: 0.25rem;
	cursor: pointer;
}

</style>

<!-- ******************************************************************** -->

<div class="modal fade" role="dialog" id="EEFEE4E6_2756_0FAC_6E1C_77F89E501417">
	<form class="modal-dialog modal-lg" role="document" id="B16DD66F_D5A1_BCDF_DB78_D375D7B208C5">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Unit editor</h4>
			</div>
			<div class="modal-body">

				<div class="alert alert-success text-center" id="DB6F1B3B_A1E1_474F_494D_B673367D6020"></div>

				<div class="row">
					<div class="col-md-6">

						<div class="form-group">
							<label for="B23EA96D_07CB_0D49_564A_8CBC446331F0">Unit name:</label>
							<input class="form-control form-control-sm" type="text" id="B23EA96D_07CB_0D49_564A_8CBC446331F0" placeholder="Unit name" />
						</div>

						<div class="form-group">
							<label for="CE77B2CF_A83B_854D_6B94_1A7A65555833">Unit base:</label>
							<select class="custom-select custom-select-sm" id="CE77B2CF_A83B_854D_6B94_1A7A65555833">
								<option value="1000">1000</option>
								<option value="1024">1024</option>
							</select>
						</div>

					</div>
					<div class="col-md-6">

						<div class="form-group">
							<label for="C9712C7B_9A5C_BD83_45D1_4CC52CD81DA9">Unit factor:</label>
							<select class="custom-select custom-select-sm" id="C9712C7B_9A5C_BD83_45D1_4CC52CD81DA9">
								<option value="Y">Yotta (10^+24)</option>
								<option value="Z">Zetta (10^+21)</option>
								<option value="E">Exa (10^+18)</option>
								<option value="P">Peta (10^+15)</option>
								<option value="T">Tera (10^+12)</option>
								<option value="G">Giga (10^+9)</option>
								<option value="M">Mega (10^+6)</option>
								<option value="k">kilo (10^+3)</option>
								<option value="">(1)</option>
								<option value="m">milli (10^-3)</option>
								<option value="u">micro (10^-6)</option>
								<option value="n">nano (10^-9)</option>
								<option value="p">pico (10^-12)</option>
								<option value="f">femto (10^-15)</option>
								<option value="a">atto (10^-18)</option>
								<option value="z">zepto (10^-21)</option>
								<option value="y">yocto (10^-24)</option>
							</select>
						</div>

						<div class="switch switch-on-warning switch-off-secondary">
							<input type="checkbox" checked="checked" id="D84D615F_8E4A_C9FB_18DD_D927B9CD68BD" />
							<label for="D84D615F_8E4A_C9FB_18DD_D927B9CD68BD" style="margin-top: 2rem;">
								<span class="text-secondary">raw</span>
								/
								<span class="text-warning">formated</span>
							</label>
						</div>

					</div>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
				<button type="submit" class="btn btn-primary" id="C65722DC_7107_938F_FBDE_EF76F6766A89">Apply</button>
			</div>
		</div>
	</form>
</div>

<!-- ******************************************************************** -->