<div class="modal fade" role="dialog" id="EEFEE4E6_2756_0FAC_6E1C_77F89E501417">
	<form class="modal-dialog modal-lg" role="document" id="B16DD66F_D5A1_BCDF_DB78_D375D7B208C5">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="DF066CD9_31AF_7E83_FE61_007866FECA1F"></h4>
			</div>
			<div class="modal-body">

				TODO

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
				<button type="reset" class="btn btn-danger" id="A2E626DD_4371_4712_11C1_1F1670DA3D5E">Reset</button>
				<button type="submit" class="btn btn-primary" id="C65722DC_7107_938F_FBDE_EF76F6766A89">Apply</button>
			</div>
		</div>
	</form>
</div>