<div>
	<div onclick="amiCommandApp.select('{{PROTO|escape}}');">
		{{COMMAND|escape}}
	</div>

	<div class="amipo" data-title="{{COMMAND|escape}}" data-content="&lt;pre&gt;{{HELP|escape}}&lt;/pre&gt;">
		<i class="fa fa-question-circle"></i>
	</div>
</div>