<tr>
	<td onclick="commandApp.select('{{proto|escape}}');">
		{{command|escape}}
	</td>
	<td class="text-center" data-toggle="popover" data-title="{{command|escape}}" data-content="&lt;pre&gt;{{help|escape}}&lt;/pre&gt;" style="width: 28px;">
		<i class="fa fa-question-circle"></i>
	</td>
</tr>