<div style="position: relative;">
	<div onclick="commandApp.select('{{proto|e}}');">
		{{command|e}}
	</div>
	<div data-toggle="popover" data-title="{{command|e}}" data-content="&lt;pre&gt;{{help|e}}&lt;/pre&gt;" style="position: absolute; top: 00px; right: 20px;">
		<i class="fa fa-question-circle"></i>
	</div>
</div>
