<tr>
	<td onclick="amiCommandApp.select('{{PROTO|escape}}');">
		{{COMMAND|escape}}
	</td>
	<td class="amipo text-center" data-title="{{COMMAND|escape}}" data-content="&lt;pre&gt;{{HELP|escape}}&lt;/pre&gt;" style="width: 28px;">
		<i class="fa fa-question-circle"></i>
	</td>
</tr>