<div>
	<button class="close" onclick="$(this).parent().remove();" style="margin-left: 10px;">
		<span class="fa-stack">
			<i class="fa fa-times-circle-o fa-stack-2x"></i>
			<strong class="fa-stack-1x" style="color: #444444;"></strong>
		</span>
	</button>
	<button class="close" onclick="commandApp.save($(this).parent().find('code').text());" style="margin-left: 10px;">
		<span class="fa-stack">
			<i class="fa fa-download fa-stack-2x"></i>
			<strong class="fa-stack-1x" style="color: #444444;"></strong>
		</span>
	</button>
	<button class="close" onclick="commandApp.copy($(this).parent().find('url').text());" style="margin-left: 10px;">
		<span class="fa-stack">
			<i class="fa fa-clipboard fa-stack-2x"></i>
			<strong class="fa-stack-1x" style="color: #444444;">URL</strong>
		</span>
	</button>
	<pre class="ami-code"><code><i class="line-number"></i>{{data|escape|replace({'\n': '\n<i class="line-number"></i>'})}}</code></pre>
	<url class="hidden">{{url|escape}}</url>
</div>