<!-- ******************************************************************** -->

<style type="text/css">

#BBD391C7_759D_01DD_E234_488D46504638 table th,
#BBD391C7_759D_01DD_E234_488D46504638 table td,
#BBD391C7_759D_01DD_E234_488D46504638 table span {
	font-size: 14px;
	white-space: nowrap;
}

</style>

<!-- ******************************************************************** -->

<nav class="navbar navbar-expand-lg navbar-light bg-light rounded-top border mb-1" style="padding: 0.1rem 0.75rem 0.1rem 1.0rem;">

	<span class="navbar-brand">
		Details
	</span>

	<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#E0C44E70_07E8_24BC_72DD_DCB120E25FAE">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="E0C44E70_07E8_24BC_72DD_DCB120E25FAE">

		<div class="form-inline mr-sm-2 my-2 my-lg-0">
			<button id="ACFEDF15_7894_6D91_CBE7_D98B5F7E9C6A" type="button" class="btn btn-outline-secondary mr-2"><i class="fa fa-refresh"></i></button>
			<input type="checkbox" id="D98B6B9A_1D5A_021E_5F90_2B55A6C3BE73"
			                       data-width="190"
			                       data-toggle="toggle"
			                       data-onstyle="outline-warning"
			                       data-offstyle="outline-secondary"
			                       data-on="&lt;i class=&quot;fa fa-eye&quot;&gt;&lt;/i&gt;&nbsp;Empty fields shown"
			                       data-off="&lt;i class=&quot;fa fa-eye-slash&quot;&gt;&lt;/i&gt;&nbsp;Empty fields hidden"
			/>
		</div>

		<ul class="navbar-nav mr-sm-2 my-2 my-lg-0">
			<div class="nav-item dropdown">
				<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">More...</a>
				<div class="dropdown-menu">
					<a href="#" class="dropdown-item" id="BF7E7885_DB34_7993_9F17_37990DDD4BF3">Command</a>
					<div class="dropdown-divider"></div>
					<a href="#" class="dropdown-item" id="F1232710_45E2_92BF_7378_1BCD05FBF131">JavaScript</a>
				</div>
			<div>
		</ul>

{% if isEmbedded %}
		<span class="navbar-text ml-auto d-none d-lg-inline">
			<img src="{{ORIGIN_URL}}/images/logo.png" alt="AMI" height="24" />
		</span>
{% endif %}

	</div>
</nav>

<div class="pb-4" id="BBD391C7_759D_01DD_E234_488D46504638" style="overflow-x: scroll;"></div>
