<?xml version="1.0" encoding="utf-8"?>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>TWIG Expression Compiler</title>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" />

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="viz.js"></script>
    <script type="text/javascript" src="AMIObjects.js"></script>
    <script type="text/javascript" src="AMITokenizer.js"></script>
    <script type="text/javascript" src="AMITwig.js"></script>
    <script type="text/javascript" src="AMITwigStdLib.js"></script>
    <script type="text/javascript" src="AMITwigExprCompiler.js"></script>
    <script type="text/javascript" src="AMITwigExprInterpreter.js"></script>

    <!--[if lt IE 9]>
      <script type="text/javascript" src="html5shiv.min.js"></script>
      <script type="text/javascript" src="respond.min.js"></script>
    <![endif]-->

  </head>
  <body>

    <script type="text/javascript">

	console.log(ami.twig.render('|{{ range(0, 6, 2) }}|{{ range(\'a\', \'c\') }}|{{ hello }}|{% if 1 + 1 === 2 and "ll" in hello %}hello 1{% else %}hello 2{% endif %}|{{ 2 ** 10 }}|{% for i in 1..10 %}*{% endfor %}|{% for c in \'helloworld\' %}{{ c }}{% endfor %}|', {hello: 'hello'}));

    </script>

  </body>
</html>