<div class="modal fade" role="dialog" id="AB1CB183_96EB_4116_8A9E_4409BE058F34">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Account</h4>
				{% if BOOTSTRAP_VERSION > 4 %}
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
				{% else %}
				<button type="button" class="close" data-dismiss="modal"><i class="bi bi-x-lg"></i></button>
				{% endif %}
			</div>
			<div class="modal-body">
				<h5 id="D944B01D_2E8D_4EE9_9DCC_2691438BBA16"></h5>

				<nav class="mb-2">
					<div class="nav nav-tabs" role="tablist">
						<button class="nav-link active" data-{% if BOOTSTRAP_VERSION > 4 %}bs-{% endif %}toggle="tab" data-{% if BOOTSTRAP_VERSION > 4 %}bs-{% endif %}target="#B89A9E2D_8969_41F4_B266_230B782FA17D" type="button" role="tab">Account status</button>
						<button class="nav-link xxxxxx" data-{% if BOOTSTRAP_VERSION > 4 %}bs-{% endif %}toggle="tab" data-{% if BOOTSTRAP_VERSION > 4 %}bs-{% endif %}target="#F22A8AD8_08EB_434C_B6F8_DC92FC0F69AC" type="button" role="tab">User information</button>
						<button class="nav-link xxxxxx" data-{% if BOOTSTRAP_VERSION > 4 %}bs-{% endif %}toggle="tab" data-{% if BOOTSTRAP_VERSION > 4 %}bs-{% endif %}target="#D827345F_6762_32F6_1D2D_DB40676804AE" type="button" role="tab">User roles</button>
					</div>
				</nav>

				<div class="tab-content">

					<!-- ******************************************************************************************* -->

					<div class="tab-pane active" role="tabpanel" id="B89A9E2D_8969_41F4_B266_230B782FA17D">
						<div class="text-center rounded mx-auto px-5 py-2 mb-2">
							<div class="row">
								<div class="col-xl-3 d-flex flex-column align-items-center justify-content-between">
<!--								<canvas id="EC948084_8C0A_CEBF_58C9_086046AB2456" height="175" width="175"></canvas>
-->								</div>
								<div class="col-xl-6 d-flex flex-column align-items-center justify-content-between">
									<div style="font-family: 'Open Sans Light'; font-size: 34pt;" id="D579A431_DBE4_6B30_1CF6_5E23761B4E1A">your account is</div>
									<div style="font-family: 'Open Sans Light'; font-size: 34pt;" id="F3FF9F43_DE72_40BB_B1BA_B7B3C9002671">???????????????</div>
								</div>
								<div class="col-xl-3 d-flex flex-column align-items-center justify-content-between">
									<canvas id="EC948084_8C0A_CEBF_58C9_086046AB2456" height="175" width="175"></canvas>
								</div>
							</div>
						</div>
						<div class="text-center">
							<a href="#E50FF8BD_B0F5_CD72_F9DC_FC2BFA5DBA27" data-{% if BOOTSTRAP_VERSION > 4 %}bs-{% endif %}toggle="collapse">privacy policy</a>
							<div>
								<iframe class="form-control collapse" id="E50FF8BD_B0F5_CD72_F9DC_FC2BFA5DBA27" style="padding: 1px; min-height: 350px; width: 100%;"></iframe>
							</div>
						</div>
					</div>

					<!-- ******************************************************************************************* -->

					<div class="tab-pane xxxxxx" role="tabpanel" id="F22A8AD8_08EB_434C_B6F8_DC92FC0F69AC">
						<div class="mb-3 row">
							<label class="col-sm-3 col-form-label col-form-label-sm" for="ABEB0291_40B0_414A_A42B_E7EABB9B487E" style="font-weight: normal;">First name</label>
							<div class="col-sm-9">
								<input class="form-control" type="text" id="ABEB0291_40B0_414A_A42B_E7EABB9B487E" readonly="readonly" />
							</div>
						</div>
						<div class="mb-3 row">
							<label class="col-sm-3 col-form-label col-form-label-sm" for="A5AFDB62_1034_4F66_A3E6_9341B31FA290" style="font-weight: normal;">Last name</label>
							<div class="col-sm-9">
								<input class="form-control" type="text" id="A5AFDB62_1034_4F66_A3E6_9341B31FA290" readonly="readonly" />
							</div>
						</div>
						<div class="mb-3 row">
							<label class="col-sm-3 col-form-label col-form-label-sm" for="D730A774_05EA_47AB_A0C8_D92753802E3E" style="font-weight: normal;">Email</label>
							<div class="col-sm-9">
								<input class="form-control" type="text" id="D730A774_05EA_47AB_A0C8_D92753802E3E" readonly="readonly" />
							</div>
						</div>
						<div class="mb-3 row">
							<label class="col-sm-3 col-form-label col-form-label-sm" for="FE2F6232_C256_4B80_939C_EBEC90320308" style="font-weight: normal;">Issuer cert. DN in session</label>
							<div class="col-sm-9">
								<input class="form-control" type="text" id="FE2F6232_C256_4B80_939C_EBEC90320308" readonly="readonly" />
							</div>
						</div>
						<div class="mb-3 row">
							<label class="col-sm-3 col-form-label col-form-label-sm" for="F42FAF6B_2C8D_4142_8BD9_E5BCDCAA05AA" style="font-weight: normal;">Issuer cert. DN in account</label>
							<div class="col-sm-9">
								<input class="form-control" type="text" id="F42FAF6B_2C8D_4142_8BD9_E5BCDCAA05AA" readonly="readonly" />
							</div>
						</div>
						<div class="mb-1 row">
							<label class="col-sm-3 col-form-label col-form-label-sm" for="C76805D7_1E86_4231_9071_1D04783423BB" style="font-weight: normal;">Client cert. DN in session</label>
							<div class="col-sm-9">
								<input class="form-control" type="text" id="C76805D7_1E86_4231_9071_1D04783423BB" readonly="readonly" />
								<div class="text-end" style="margin-top: -0.65rem;">
									<small class="badge rounded-pill text-white bg-dark" id="E91280F6_E7C6_3E53_A457_646995C99317">&nbsp;</small>
								</div>
							</div>
						</div>
						<div class="mb-3 row">
							<label class="col-sm-3 col-form-label col-form-label-sm" for="D1BEE3BF_9161_41DC_BC53_C44FFE4D2522" style="font-weight: normal;">Client cert. DN in account</label>
							<div class="col-sm-9">
								<input class="form-control" type="text" id="D1BEE3BF_9161_41DC_BC53_C44FFE4D2522" readonly="readonly" />
							</div>
						</div>
					</div>

					<!-- ******************************************************************************************* -->

					<div class="tab-pane xxxxxx" role="tabpanel" id="D827345F_6762_32F6_1D2D_DB40676804AE">
						<table class="table table-sm table-striped">
							<thead>
							<tr>
								<th>Name</th>
								<th>Description</th>
							</tr>
							</thead>
							<tbody id="BB07676B_EACA_9B42_ED51_477DB2976041"></tbody>
						</table>
					</div>

					<!-- ******************************************************************************************* -->

				</div>

			</div>
		</div>
	</div>
</div>
