<form class="modal fade" role="dialog" id="E92A1097_983B_4857_875F_07E4659B41B0">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Change Password</h4>
				{% if BOOTSTRAP_VERSION > 4 %}
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
				{% else %}
				<button type="button" class="close" data-dismiss="modal"><i class="bi bi-x-lg"></i></button>
				{% endif %}
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-2 text-center">
						<img src="{{ORIGIN_URL}}/js/assets/images/padlock.png" alt="" height="90" width="90" />
					</div>
					<div class="col-md-10">
						<div class="mb-3">
							<label for="F238E6EE_44BD_486A_B85D_C927A4D045D3">Old password<span class="text-danger">*</span></label>
							<input class="form-control" type="password" name="old_password" id="F238E6EE_44BD_486A_B85D_C927A4D045D3" required="required" placeholder="Type your old password..." />
						</div>
						<div class="mb-3">
							<label for="D487FE72_8D95_4048_BEA3_252274862AF4">New password<span class="text-danger">*</span></label>
							<input class="form-control" type="password" name="new_password" id="D487FE72_8D95_4048_BEA3_252274862AF4" required="required" placeholder="Choose a new password..." />
						</div>
						<div class="mb-3">
							<label for="EE1DA58C_3761_4734_A9C2_E808CDD7EE77">New password<span class="text-danger">*</span></label>
							<input class="form-control" type="password" name="xxx_password" id="EE1DA58C_3761_4734_A9C2_E808CDD7EE77" required="required" placeholder="Type your new password again..." />
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-outline-secondary" type="button" data-bs-dismiss="modal">Close</button>
				<button class="btn btn-primary" type="submit">Submit</button>
			</div>
		</div>
	</div>
</form>
