<div class="modal fade" tabindex="-1" id="D2B5FADE_97A3_4B8C_8561_7A9AEACDBE5B">
	<div class="modal-dialog modal-dialog-centered modal-xl">
		<div class="modal-content">
			<div class="modal-body row m-0 p-0">

				<div class="{% if signInImageURL|e %}col-lg-6{% else %}col-0{% endif %} m-0 p-0"
					style="background: url('{{ signInImageURL|e }}') center center; background-size: auto 100%;">
				</div>

				<div class="{% if signInImageURL|e %}col-lg-6{% else %}col-lg-12{% endif %} m-0 p-0">

					<nav class="p-3">
						<div class="nav nav-tabs" role="tablist">
							<button class="nav-link active" data-{% if BOOTSTRAP_VERSION > 4 %}bs-{% endif %}toggle="tab" data-{% if BOOTSTRAP_VERSION > 4 %}bs-{% endif %}target="#B7894CC1_1DAA_4A7E_B7D1_DBDF6F06AC73" type="button" role="tab"><i class="bi bi-box-arrow-in-right"></i> Sign In</button>
							{% if createAccountAllowed %}
							<button class="nav-link xxxxxx" data-{% if BOOTSTRAP_VERSION > 4 %}bs-{% endif %}toggle="tab" data-{% if BOOTSTRAP_VERSION > 4 %}bs-{% endif %}target="#EE055CD4_E58F_4834_8020_986AE3F8D67D" type="button" role="tab"><i class="bi bi-person-plus"></i> Sign Up</button>
							{% endif %}
							{% if changePasswordAllowed %}
							<button class="nav-link xxxxxx" data-{% if BOOTSTRAP_VERSION > 4 %}bs-{% endif %}toggle="tab" data-{% if BOOTSTRAP_VERSION > 4 %}bs-{% endif %}target="#DA2047A2_9E5D_420D_B6E7_FA261D2EF10F" type="button" role="tab"><i class="bi bi-bandaid"></i> Reset Password</button>
							{% endif %}
						</div>
					</nav>

					<div class="tab-content px-3 pb-3" style="{% if signInImageURL|e %}height: 390px {% endif %}; overflow-y: scroll;">

						<!-- *************************************************************************************** -->

						<form class="tab-pane fade show active" role="tabpanel" id="B7894CC1_1DAA_4A7E_B7D1_DBDF6F06AC73">

							<h1 class="fw-bold">{{ signInText|e }}</h1>

							<div class="mb-3">
								<label for="E64F24B2_33E6_4DED_9B24_28BE04219613">Username<span class="text-danger">*</span></label>
								<input class="form-control form-control-sm" type="text" name="username" id="E64F24B2_33E6_4DED_9B24_28BE04219613" required="required" autocomplete="off" autocapitalize="off" spellcheck="false" placeholder="Type your username..." />
							</div>
							<div class="mb-3">
								<label for="A4DFD039_034F_4D10_9668_385AEF4FBBB9">Password<span class="text-danger">*</span></label>
								<input class="form-control form-control-sm" type="password" name="password" id="A4DFD039_034F_4D10_9668_385AEF4FBBB9" required="required" autocomplete="off" autocapitalize="off" spellcheck="false" placeholder="Type your password..." />
							</div>

							{% if passwordAuthenticationAllowed %}
							<button class="btn btn-primary shadow w-100 mt-3" type="submit">
								Sign In by Username
							</button>
							{% endif %}

							{% if certificateAuthenticationAllowed %}
							<button class="btn btn-primary shadow w-100 mt-3" type="button" onclick="amiAuth.form_login2();">
								Sign In by Certificate
							</button>
							{% endif %}

							{% if ssoAuthenticationAllowed %}
							<button class="btn btn-light shadow w-100 mt-3" type="button" onclick="amiAuth.sso();">
								Single Sign-On
							</button>
							{% endif %}

						</form>

						<!-- *************************************************************************************** -->

						{% if createAccountAllowed %}
						<form class="tab-pane fade xxxx xxxxxx" role="tabpanel" id="EE055CD4_E58F_4834_8020_986AE3F8D67D">

							<h1 class="fw-bold">Sign Up</h1>

							{% if captchaAllowed %}
							<input type="hidden" name="captcha_hash" id="FD95B3FA_C808_0E08_2D1E_0FE0E3871101" />
							{% endif %}

							<div class="bg-light2 p-2 mb-3">

								<div class="row">
									<div class="col-md-6">
										<div class="mb-3">
											<label for="D752CE80_49C3_4BDC_8B1A_8ED6BD57C538">First name<span class="text-danger">*</span></label>
											<input class="form-control form-control-sm" type="text" name="first_name" id="D752CE80_49C3_4BDC_8B1A_8ED6BD57C538" tabindex="1" required="required" placeholder="Type your first name..." />
										</div>
										<div class="mb-3">
											<label for="A9A08864_6A32_45A4_8898_C167564DB8BB">Username<span class="text-danger">*</span></label>
											<input class="form-control form-control-sm" type="text" name="username" id="A9A08864_6A32_45A4_8898_C167564DB8BB" tabindex="3" required="required" placeholder="Choose a username..." />
										</div>
										<div class="mb-3">
											<label for="E6E30EEC_15EE_4FCF_9809_2B8EC2FEF388">Password<span class="text-danger">*</span></label>
											<input class="form-control form-control-sm" type="password" name="password" id="E6E30EEC_15EE_4FCF_9809_2B8EC2FEF388" tabindex="5" required="required" placeholder="Choose a password..." />
										</div>
										{% if captchaAllowed %}
										<div class="mb-3">
											<label>Captcha</label>
											<div class="form-control form-control-sm" id="AC9836E6_2A20_8711_39D5_0E8340561078" style="background-size: 100% 100%;"></div>
										</div>
										{% endif %}
									</div>
									<div class="col-md-6">
										<div class="mb-3">
											<label for="B3E6D18C_ABA3_402C_88A2_55FA99555A7A">Last name<span class="text-danger">*</span></label>
											<input class="form-control form-control-sm" type="text" name="last_name" id="B3E6D18C_ABA3_402C_88A2_55FA99555A7A" tabindex="2" required="required" placeholder="Type your last name..." />
										</div>
										<div class="mb-3">
											<label for="D1007165_B40F_4DAE_BA50_853F2C9DA32D">Email<span class="text-danger">*</span></label>
											<input type="email" class="form-control form-control-sm" name="email" id="D1007165_B40F_4DAE_BA50_853F2C9DA32D" tabindex="4" required="required" placeholder="Type your email..." />
										</div>
										<div class="mb-3">
											<label for="CCD8E6F1_6DF8_4BDD_A0EC_C3C380830187">Password<span class="text-danger">*</span></label>
											<input class="form-control form-control-sm" type="password" name="xxxx" id="CCD8E6F1_6DF8_4BDD_A0EC_C3C380830187" tabindex="6" required="required" placeholder="Confirm the password..." />
										</div>
										{% if captchaAllowed %}
										<div class="mb-3">
											<label for="F36FED50_1ACC_CD15_ABEC_6E06247BE2DD">Captcha<span class="text-danger">*</span></label>
											<input class="form-control form-control-sm" type="text" name="captcha_text" id="F36FED50_1ACC_CD15_ABEC_6E06247BE2DD" tabindex="7" required="required" placeholder="Confirm the captcha..." />
										</div>
										{% endif %}
									</div>
								</div>

								<div class="mb-3 text-start">
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" name="attachCert" id="A09AE316_7068_4BC1_96A9_6B87D28863FE" tabindex="8" checked="checked" />
										<label class="custom-control-label" for="A09AE316_7068_4BC1_96A9_6B87D28863FE">Attach the current certificate</label>
									</div>
								</div>

							</div>

							<iframe class="form-control form-control-sm mb-3" id="C3E94F6D_48E0_86C0_3534_691728E492F4" style="padding: 1px; height: 220px; width: 100%;"></iframe>

							<div class="text-end mb-3">
								<div class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" name="agree" id="C443738D_16BD_469F_1430_84EC13924118" tabindex="9" xxxxxxx="xxxxxxx" />
									<label class="custom-control-label" for="C443738D_16BD_469F_1430_84EC13924118">I agree with the privacy policy</label>
								</div>
							</div>

							<div class="text-end mb-0">
								<button class="btn btn-outline-secondary" type="button" data-{% if BOOTSTRAP_VERSION > 4 %}bs-{% endif %}dismiss="modal">Close</button>
								<button class="btn btn-primary shadowed" type="submit">Create</button>
							</div>

						</form>
						{% endif %}

						<!-- *************************************************************************************** -->

						{% if changePasswordAllowed %}
						<form class="tab-pane fade xxxx xxxxxx" role="tabpanel" id="DA2047A2_9E5D_420D_B6E7_FA261D2EF10F">

							<h1 class="fw-bold">Reset Password</h1>

							{% if captchaAllowed %}
							<input type="hidden" name="captcha_hash" id="A63C0110_E591_6FCE_6D7A_02EEBC094199" />
							{% endif %}

							<div class="bg-light2 p-2 mb-3">

								<div class="row">
									<div class="col-md-12">
										<div class="mb-3">
											<label for="F0B93AF7_6049_4271_B1C9_C494A012D6D0">Username<span class="text-danger">*</span></label>
											<input class="form-control form-control-sm" type="text" name="username" id="F0B93AF7_6049_4271_B1C9_C494A012D6D0" required="required" placeholder="Type your username..." />
										</div>
										{% if captchaAllowed %}
											<div class="row">
												<div class="col-md-6">
													<div class="mb-3">
														<label for="EA79605C_6EFF_4C77_9D70_88254B00FD52">Captcha<span class="text-danger">*</span></label>
														<div class="form-control form-control-sm" id="EA79605C_6EFF_4C77_9D70_88254B00FD52" style="background-size: 100% 100%;"></div>
													</div>
												</div>
												<div class="col-md-6">
													<div class="mb-3">
														<label for="ECCBE7F1_1D33_169C_313E_C462B19DCDA0">Captcha<span class="text-danger">*</span></label>
														<input class="form-control form-control-sm" type="text" name="captcha_text" id="ECCBE7F1_1D33_169C_313E_C462B19DCDA0" tabindex="7" required="required" placeholder="Confirm the captcha..." />
													</div>
												</div>
											</div>
										{% endif %}
									</div>
								</div>

							</div>

							<div class="text-end">
								<button class="btn btn-outline-secondary" type="button" data-{% if BOOTSTRAP_VERSION > 4 %}bs-{% endif %}dismiss="modal">Close</button>
								<button class="btn btn-primary shadowed" type="submit">Reset</button>
							</div>

						</form>
						{% endif %}

						<!-- *************************************************************************************** -->

					</div>

				</div>

			</div>
		</div>
	</div>
</div>
