<div class="modal fade" data-backdrop="static" role="dialog" id="C5E27E1F_DEB1_DE92_1301_898529832194">
	<div class="modal-dialog modal-xl" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title"><i class="bi bi-speedometer"></i> Append to Dashboard</h4>
			</div>
			<div class="modal-body">
				<div class="mb-2">
					<label class="form-label" for="CA1C2B9C_C66E_16A4_0192_95704C27B6E2">Dashboard name<sup class="text-danger">*</sup></label>
					<select class="form-select form-select-sm" id="CA1C2B9C_C66E_16A4_0192_95704C27B6E2"></select>
				</div>
				<div class="mb-2">
					<label class="form-label" for="A7003C5D_0A5C_08A2_DAD9_3EC577328D43">JSON <button class="btn btn-sm btn-primary" data-bs-toggle="collapse" data-bs-target="#CC011903_7C42_70CF_25CD_DE594C3E23C5">view/hide</button></label>
					<div class="collapse show" id="CC011903_7C42_70CF_25CD_DE594C3E23C5">
						<select class="form-editor" data-lang="json" id="A7003C5D_0A5C_08A2_DAD9_3EC577328D43"></select>
					</div>
				</div>
				<div class="mb-2">
					<label class="form-label" for="DDC88FB6_C193_9C60_53CE_85D885BD42F7">Transparent<sub class="text-danger">*</sub></label>
					<div class="switch switch-sm switch-off-primary switch-on-success">
						<input type="checkbox" id="DDC88FB6_C193_9C60_53CE_85D885BD42F7">
						<label for="DDC88FB6_C193_9C60_53CE_85D885BD42F7">
							<span class="text-primary">no</span>
							/
							<span class="text-success">yes</span>
						</label>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-secondary" id="D5C96872_D545_4B33_ECD9_55EC32E1703E">Close</button>
				-
				<button type="button" class="btn btn-success" id="E335D6CC_ADA1_92CF_1C64_F446B27B5F93">Add Widget</button>
			</div>
		</div>
	</div>
</div>
