<div class="modal fade" role="dialog" id="B8927006_7FCE_87BD_FC8D_C7575D69C362">
	<div class="modal-dialog modal-xl" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="d-inline modal-title flex-grow-1">
					<i class="bi bi-info-circle"></i> <span id="B6FA759D_D2DD_D079_B591_5023C422B87F"></span> <i class="bi bi-arrow-right-short"></i> <span id="AF62E47C_F3A6_FEB6_A48B_CCD3BAFE6647"></span>
				</h4>
				<div class="d-inline">
					<button type="button" class="btn btn-outline-secondary" data-clipboard-target="#B8927006_7FCE_87BD_FC8D_C7575D69C362 .form-editor"><i class="bi bi-clipboard"></i> Copy</button>
					&nbsp;&nbsp;
					<button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
			<div class="modal-body p-0">
				<textarea class="form-editor" data-show-border="false" data-rounded="false" data-word-wrap="true" data-read-only="true"></textarea>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-secondary" data-clipboard-target="#B8927006_7FCE_87BD_FC8D_C7575D69C362 .form-editor"><i class="bi bi-clipboard"></i> Copy</button>
				&nbsp;&nbsp;
				<button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
