<style type="text/css">

#ami_locker {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	display: none;
	position: fixed;
	overflow: hidden;
	outline: 0 none;

	z-index: 9999;
}

#ami_locker .progress {
	bottom: 0;
	left: 0;
	right: 0;

	position: absolute;
}

</style>

<div id="ami_locker">
	<div class="progress rounded-0">
		<div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 100%"></div>
	</div>
</div>