<style type="text/css">

#A5A48129_D1AA_4C2A_A708_44447686270E {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	display: none;
	position: fixed;
	overflow: hidden;
	outline: 0 none;

	z-index: 9999;
}

#A5A48129_D1AA_4C2A_A708_44447686270E .progress {
	bottom: -22px;
	left: 0;
	right: 0;

	position: absolute;
}

</style>

<div id="A5A48129_D1AA_4C2A_A708_44447686270E">
	<div class="progress progress-striped active" style="border-radius: 0px;">
		<div class="progress-bar progress-bar-success" aria-valuemin="0" aria-valuemax="100" aria-valuenow="100" role="progressbar" style="width: 100%;">
			<span class="sr-only">Please wait...</span>
		</div>
	</div>
</div>