<li class="nav-item">
{% if sso_url !== 'N/A' %}
	<button type="button" class="btn btn-outline-secondary navbar-btn" onclick="amiLogin.sso()">
		<i class="fa fa-sign-in"></i> {{sso_label}}
	</button>
	or
{% endif %}
	<button type="button" class="btn btn-outline-secondary navbar-btn" onclick="amiLogin.signIn()">
		<i class="fa fa-sign-in"></i> Sign in
	</button>
</li>
