<div class="modal fade" id="text_viewer_cmp_modal">
  <div class="modal-dialog" style="width: 96%;">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title"><i class="fa fa-file-text-o"></i> Text Viewer</h4>
      </div>
      <div class="modal-body">
        <pre class="ami-code"><code id="text_viewer_cmp_content"></code></pre>
      </div>
    </div>
  </div>
</div>