<style type="text/css">
/*-------------------------------------------------------------------------*/
/* GENERAL THEME                                                           */
/*-------------------------------------------------------------------------*/

body {
	background: white url('images/background.jpg') fixed;
}

/*-------------------------------------------------------------------------*/
/* AMI THEME                                                               */
/*-------------------------------------------------------------------------*/

#ami_main_container {
	border-radius: 10px;
	box-shadow: 00px 05px 15px rgba(19, 0, 0, 0.5);
	margin: 12px auto 24px auto;
	padding: 0;
	width: 96%;
}

/*-------------------------------------------------------------------------*/

#ami_main_center {
	background-color: white;
	margin: 0;
	padding: 4px 16px;
	overflow-x: hidden;
	overflow-y: auto;
}

/*-------------------------------------------------------------------------*/

#ami_top_menu {
	border-radius: 10px 10px 0 0;
}

#ami_bottom_menu {
	border-radius: 0 0 10px 10px;
}

/*-------------------------------------------------------------------------*/
</style>

<div id="ami_main_container">

	<nav class="navbar navbar-expand-lg navbar-light bg-light" id="ami_top_menu">

 		<a class="navbar-brand" href="{{HOME_URL}}" style="padding-top: 0; padding-bottom: 0;">
			<img src="{{LOGO_URL}}" alt="Logo" style="height: 40px;" />
		</a>

		<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#FCE61AFD_012B_2816_B9FD_C737908FAF72">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="FCE61AFD_012B_2816_B9FD_C737908FAF72">

			<ul class="navbar-nav mr-auto" id="ami_menu_content"></ul>
			<ul class="navbar-nav ml-auto" id="ami_login_content"></ul>

		</div>
	</nav>

	<div id="ami_main_center">

		<ol class="breadcrumb" id="ami_breadcrumb_content">&nbsp;</ol>

		<div id="ami_alert_content" role="alert"></div>
		<div id="ami_main_content" role="main"></div>

		<br />

	</div>

	<nav class="navbar navbar-expand-lg navbar-light bg-light2" id="ami_bottom_menu">

		<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#B06DBB00_43B5_3128_B476_F7D3BAE1B15C">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="B06DBB00_43B5_3128_B476_F7D3BAE1B15C">

			<ul class="navbar-nav" style="margin-left: auto;">
				<li class="nav-item">
					<a class="nav-link" href="mailto:{{CONTACT_EMAIL}}"><i class="fa fa-envelope-o"></i> Contact</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ABOUT_URL}}" target="_blank">About</a>
				</li>
			</ul>

		</div>

	</nav>

</div>