<div class="position-absolute d-flex align-items-end flex-column" role="alert" id="ami_alert_content" style="z-index: 99999999; top: 80px; right: 8px;"></div>

<div class="container-fluid" style="margin-top: 10px; margin-bottom: 10px;">

	<h1 class="text-center">
		<i class="fa fa-desktop"></i> AMI Monitoring <span id="AF46CD08_34D4_E172_7426_8D528BD6BF2D"></span>
	</h1>

	<div role="main" id="ami_main_content"></div>

</div>
