<div class="container-fluid" style="margin-top: 10px; margin-bottom: 10px;">

	<h1 class="text-center">
		<i class="fa fa-desktop"></i> AMI Monitoring <span id="AF46CD08_34D4_E172_7426_8D528BD6BF2D"></span>
	</h1>

	<div>
		<div id="ami_alert_content" role="alert"></div>
		<div id="ami_main_content" role="main"></div>
	</div>

</div>