<style type="text/css">
/*-------------------------------------------------------------------------*/
/* GENERAL THEME                                                           */
/*-------------------------------------------------------------------------*/

body {
	background-color: white;
}

/*-------------------------------------------------------------------------*/
/* AMI THEME                                                               */
/*-------------------------------------------------------------------------*/

#ami_main_center {
	background-color: white;
	margin: 0;
	padding: 8px 16px;
	overflow-x: hidden;
	overflow-y: auto;
}

/*-------------------------------------------------------------------------*/
</style>

<nav class="navbar navbar-light navbar-expand-lg border-bottom bg-light" id="ami_top_menu">

	<a class="navbar-brand py-0" href="{{HOME_URL}}">
		<img src="{{LOGO_URL}}" alt="Logo" style="height: 40px;" />
	</a>

	<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#FCE61AFD_012B_2816_B9FD_C737908FAF72">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="FCE61AFD_012B_2816_B9FD_C737908FAF72">

		<ul class="navbar-nav mr-auto" id="ami_menu_content"></ul>
		<ul class="navbar-nav ml-auto" id="ami_login_content"></ul>

	</div>

</nav>

<div id="ami_main_center">

	<ul class="breadcrumb" id="ami_breadcrumb_content">&nbsp;</ul>

	<div id="ami_alert_content" role="alert"></div>
	<div id="ami_main_content" role="main"></div>

	<br />

</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light2" id="ami_bottom_menu">

	<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#B06DBB00_43B5_3128_B476_F7D3BAE1B15C">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="B06DBB00_43B5_3128_B476_F7D3BAE1B15C">

		<ul class="navbar-nav" style="margin-left: auto;">
			<li class="nav-item">
				<a class="nav-link" href="mailto:{{CONTACT_EMAIL}}"><i class="fa fa-envelope-o"></i> Contact</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ABOUT_URL}}" target="_blank">About</a>
			</li>
		</ul>

	</div>

</nav>