<div class="modal fade" role="dialog" id="E5A34976_AC6F_5B5F_770F_F26DD1A2AB96">
	<div class="modal-dialog modal-xl" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title"><i class="fa fa-info"></i> <span id="FA090573_9E6B_72F6_2431_AFB1F104EFB7"></span></h4>
			</div>
			<div class="modal-body">
				<ul class="nav nav-tabs" role="tablist">
					<li class="nav-item" role="presentation">
						<a class="nav-link active" href="#B28C3528_0A98_27A9_ADEC_C0678ACE0426" role="tab" data-toggle="tab">Tree</a>
					</li>
					<li class="nav-item" role="presentation">
						<a class="nav-link xxxxxx" href="#CB4CDCFF_8B4A_F4D6_CFD5_E0C69BB4C2E0" role="tab" data-toggle="tab">Raw</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane show active" id="B28C3528_0A98_27A9_ADEC_C0678ACE0426" role="tabpanel" style="overflow-x: scroll;">
						<div class="ami-tree"><!-- //// --></div>
					</div>
					<div class="tab-pane xxxx xxxxxx" id="CB4CDCFF_8B4A_F4D6_CFD5_E0C69BB4C2E0" role="tabpanel" style="overflow-x: scroll;">
						<pre class="ami-code"><code></code></pre>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>