<a class="text-primary" href="#" data-ami-op="clone" data-ami-id=""><i class="bi bi-files"></i></a>
&nbsp;&nbsp;&nbsp;
<a class="text-danger" href="#" data-ami-op="trash" data-ami-id=""><i class="bi bi-trash"></i></a>
