<div class="modal fade" role="dialog" id="B8D42DF0_0D25_C818_1438_5BAD52BB9E0B">
	<div class="modal-dialog modal-xl" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title"><i class="fa fa-info"></i> <span id="D12ACA0D_8E47_F13D_0DCD_E7D1ED5CA4AA"></span></h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-4"><kbd>original</kbd></div>
					<div class="col-md-4"><kbd>difference (<span class="text-success">added</span>, <span class="text-danger">removed</span>)</kbd></div>
					<div class="col-md-4"><kbd>changed</kbd></div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<pre class="ami-code"><code id="E94A7FE7_FEBC_AE12_0C13_E625FC2ADFE6"></code></pre>
					</div>
					<div class="col-md-4">
						<pre class="ami-code"><code id="AF0BD692_6F09_4527_2684_AAF623658767"></code></pre>
					</div>
					<div class="col-md-4">
						<pre class="ami-code"><code id="C604C636_346F_64A8_3EBE_ADCDE2AEB343"></code></pre>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>