<form class="modal fade" role="dialog" id="D9EAF998_ED8E_44D2_A0BE_8C5CF5E438BD">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Change Information</h4>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-2 text-center">
						<img src="{{ORIGIN_URL}}/js/assets/images/padlock.png" alt="" height="90" width="90" />
					</div>
					<div class="col-md-10">
						<div class="mb-3">
							<label for="E513F27D_5521_4B08_BF61_52AFB81356F7">First name<span class="text-danger">*</span></label>
							<input class="form-control" type="text" name="first_name" id="E513F27D_5521_4B08_BF61_52AFB81356F7" required="required" placeholder="Type your first name..." disabled readonly />
						</div>
						<div class="mb-3">
							<label for="AFF0B5C0_BEEC_4842_916D_DCBA7F589195">Last name<span class="text-danger">*</span></label>
							<input class="form-control" type="text" name="last_name" id="AFF0B5C0_BEEC_4842_916D_DCBA7F589195" required="required" placeholder="Type your last name..." disabled readonly />
						</div>
						<div class="mb-3">
							<label for="C587486B_62C0_4B6E_9288_D8F9F89D157B">Email<span class="text-danger">*</span></label>
							<input type="email" class="form-control" name="email" id="C587486B_62C0_4B6E_9288_D8F9F89D157B" required="required" placeholder="Type your email..." disabled readonly />
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-outline-secondary" type="button" data-dismiss="modal">Close</button>
				<button class="btn btn-primary" type="submit">Submit</button>
			</div>
		</div>
	</div>
</form>
