<form class="modal fade" role="dialog" id="ECB92A89_A706_7C76_E248_E57D14C8B205">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Update my certificate</h4>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="mb-3">
						<label for="D75BFCC1_B2F1_9599_B1AB_F2FF096631AA" class="form-label">Login</label>
						<input type="email" class="form-control" id="D75BFCC1_B2F1_9599_B1AB_F2FF096631AA" placeholder="name@example.com">
					</div>
					<div class="mb-3">
						<label for="C72E51F1_FAF2_CB6B_0AAF_B312A4D378C1" class="form-label">Password</label>
						<input type="password" class="form-control" id="C72E51F1_FAF2_CB6B_0AAF_B312A4D378C1">
					</div>
				</div>
				<div class="row">
					<div class="col-md-12" id="F9652167_40D2_E8A0_F00B_FABA8E490E54">
						<div class="card h-100">
							<div class="card-body">
								<h5 class="card-title">AMI registered certificate</h5>
								<p class="card-text" id="C9297C00_920D_4AE6_8A20_B0DDB383CC6A"></p>
								<p class="card-text" id="D4B29AC0_4867_815B_8657_5A1D623C29CF"></p>
								<div class="card-footer border-top-0 bg-transparent">
									<div class="d-grid gap-2 d-md-flex justify-content-md-end">
										<a class="btn btn-danger" id="B39BA3DE_4BA7_CE2F_BB80_BB6F4A5CB2A2" href="javascript:amiAuth.form_detachCert();">Detach this certificate</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12" id="A81B2279_2AFC_F19C_E4C9_BFB97D48F967">
						<div class="card h-100">
							<div class="card-body">
								<h5 class="card-title">Certificate in session</h5>
								<p class="card-text" id="C8B8F968_CCAA_26DF_8665_2B518189E3DE"></p>
								<p class="card-text" id="A962ED59_DB71_C10C_6173_3615C6F48028"></p>
								<div class="card-footer border-top-0 bg-transparent">
									<div class="d-grid gap-2 d-md-flex justify-content-md-end">
										<a class="btn btn-primary" id="DB0223B3_D721_7EEB_50B8_032A04C7D218" href="javascript:amiAuth.form_attachCert();">Attach this certificate</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="modal-footer">
				<button class="btn btn-outline-secondary" type="button" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</form>
