<div class="modal fade" data-backdrop="static" role="dialog" id="A3B9F992_0B7B_82B4_BDD0_E4EF2AF2E197">
	<div class="modal-dialog modal-xl" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title"><i class="fa fa-star"></i> New Bookmark</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label for="DDE98A9F_46A2_F340_F7D8_74F2D1704714">Bookmark name<sup class="text-danger">*</sup></label>
					<input type="text" class="form-control" id="DDE98A9F_46A2_F340_F7D8_74F2D1704714" />
				</div>
				<div class="form-group">
					<label for="CEB66D23_8782_A96F_A8B6_139AC2A48875">Share (public bookmark)<span class="text-danger">*</span></label>
					<div class="switch switch-sm switch-off-primary switch-on-success">
						<input type="checkbox" id="CEB66D23_8782_A96F_A8B6_139AC2A48875">
						<label for="CEB66D23_8782_A96F_A8B6_139AC2A48875">
							<span class="text-primary">no</span>
							/
							<span class="text-success">yes</span>
						</label>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-secondary" id="F43F294B_B664_4883_0691_2EAEC8B8B3BB">Close</button>
				&nbsp;&nbsp;
				<button type="button" class="btn btn-success" id="E335D6CC_ADA1_92CF_1C64_F446B27B5F93">Add Bookmark</button>
			</div>
		</div>
	</div>
</div>