<h1>Server Status</h1>

<div class="ami-callout" id="ami_monitoring_server_content"></div></div>

<h1>Connection Pool Status</h1>

<div class="form-group form-group-sm">
  <label for="ami_moniroring_node" class="control-label">Node:</label>
  <select class="form-control ami-select" id="ami_moniroring_nodes"></select>
</div>

<div class="ami-callout" id="ami_monitoring_connection_pool_content"></div>

<h1>Users Status <a href="javascript:amiAdminDashboardApp.app._updateUsers();"><i class="fa fa-refresh"></i></a></h1>

<div class="ami-callout" id="ami_monitoring_user_content"></div>

<h1>Logs</h1>

<div class="ami-callout" id="ami_monitoring_logs_content"></div>