<div class="text-center">

  <button class="btn btn-default" onclick="amiAdminDashboardApp.app.reset();">Reset</button>

  <div class="btn-group">

    <button class="btn btn-primary" onclick="amiAdminDashboardApp.app.apply();">Apply</button>

    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
    </button>

    <ul class="dropdown-menu">
      <li><a href="javascript:amiAdminDashboardApp.app.applyAndRestart();">Apply and Restart AMI</a></li>
    </ul>

  </div>

</div>