<div id="A8F5DC0E_F1D2_7220_29F0_C86DD93A23E2" style="height: 150px;"></div>

<div class="row" style="background-color: rgb(250, 250, 250); border: 1px solid rgba(0, 0, 0, 0.125); border-radius: 0.25rem; margin: 10px 0; padding: 10px;">
	<div class="col-md-6 text-center xxxxxxxxxxxxxxxxx">
		<div id="E86BAEDC_5386_454F_318B_3337E7B1CFB3" style="height: 185px;"></div>
		<div id="CDB3AD94_DC62_215E_E9EA_AACDF05E542A" style="height: 185px;"></div>
	</div>
	<div class="col-md-6 text-center d-none d-md-block">
		<div id="A7CB3444_3882_26FF_F3AF_52278A0F37C1" style="height: 310px;"></div>
		<br />
		<div class="row">
			<div class="col-md-6">
				<i class="fa fa-arrow-circle-right"></i> Valid users: <span id="A8CB8D03_D1C5_D3D3_7625_218092ADFAFB"></span>
			</div>
			<div class="col-md-6">
				<i class="fa fa-arrow-circle-right"></i> Total users: <span id="E46EBCE9_49B2_0CBF_7075_2340916CD5CF"></span>
			</div>
		</div>
	</div>
</div>
{% if externalFrame %}
<iframe src="{{externalFrame}}" style="border: 1px solid rgba(0, 0, 0, 0.125); border-radius: 0.25rem; height: 1000px; width: 100%;" />
{% endif %}