<nav class="navbar navbar-expand-lg navbar-light bg-light rounded-top border mb-1" style="padding: 0.1rem 0.75rem 0.1rem 1.0rem;">
	<div class="form-inline mr-sm-2 my-2 my-lg-0">
		<span class="switch switch-sm switch-off-primary switch-on-secondary">
			<input type="checkbox" id="A8E7C88D_7B78_B221_0BCB_6EF1F9CC3C15" />
			<label for="A8E7C88D_7B78_B221_0BCB_6EF1F9CC3C15">
				<span class="text-primary">Horizontal view</span>
				/
				<span class="text-secondary">Vertical view</span>
			</label>
		</span>
    </div>
	<ul class="navbar-nav mr-sm-2 my-2 my-lg-0">
    			<li class="nav-item dropdown">
    				<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" data-boundary="viewport">Export</a>
    				<div class="dropdown-menu">
    					<a href="#" class="dropdown-item" id="D68E49F9_A0C7_C15D_8323_8BA215856428">PNG</a>
    					<a href="#" class="dropdown-item" id="E90168C4_E4BD_ACC8_085F_9953D6CF789F">SVG</a>
    				</div>
    			</li>
    </ul>
</nav>
<div style="overflow: auto" id="A0F6763F_DE29_5185_35C1_DCAA81E8C487">
</div>