<div class="text-center" style="padding: 0.5rem;">
	<span class="switch switch-sm switch-on-primary switch-off-secondary">
		<input type="checkbox" id="A8E7C88D_7B78_B221_0BCB_6EF1F9CC3C15" />
		<label for="A8E7C88D_7B78_B221_0BCB_6EF1F9CC3C15">
			<span class="text-secondary">HORIZONTAL</span>
			/
			<span class="text-primary">VERTICAL</span>
		</label>
	</span>
</div>
<div style="overflow: auto">
{{ graph }}
</div>