<div class="text-center">
	<span class="switch switch-sm switch-off-primary switch-on-secondary">
		<input type="checkbox" id="A8E7C88D_7B78_B221_0BCB_6EF1F9CC3C15" />
		<label for="A8E7C88D_7B78_B221_0BCB_6EF1F9CC3C15">
			<span class="text-primary">Horizontal view</span>
			/
			<span class="text-secondary">Vertical view</span>
		</label>
	</span>
	<button class="btn btn-outline-primary" id="E90168C4_E4BD_ACC8_085F_9953D6CF789F">
    	<i class="fa fa-floppy-o"></i>
    </button>
</div>
<div style="overflow: auto" id="A0F6763F_DE29_5185_35C1_DCAA81E8C487">
</div>