<div class="text-center">
	<span class="switch switch-sm switch-on-primary switch-off-secondary">
		<input type="checkbox" id="A8E7C88D_7B78_B221_0BCB_6EF1F9CC3C15" />
		<label for="A8E7C88D_7B78_B221_0BCB_6EF1F9CC3C15">
			<span class="text-primary">HORIZONTAL</span>
			/
			<span class="text-secondary">VERTICAL</span>
		</label>
	</span>
</div>
<div style="overflow: auto" id="A0F6763F_DE29_5185_35C1_DCAA81E8C487">
</div>