<div class="modal fade" role="dialog" id="B0BEB5C7_8978_7433_F076_A55D2091777C">
	<div class="modal-dialog modal-xl" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">
					<span id="A1AA5034_F183_9365_2D09_DF80F1775C95"></span>
					<i class="fa fa-angle-right"></i>
					<span id="C52644CB_45E9_586E_DF23_38DD69147735"></span>
					<i class="fa fa-angle-right"></i>
					<span id="DE6E9DB2_BFED_1783_A6F7_D8CAAFFEFDD0"></span>
				</h5>
			</div>
			<div class="modal-body">

				<div id="F7A1EF6C_34F4_9A58_EEAD_F0DB92DCB886"></div>

				<input type="hidden" id="C78B630C_9805_7D15_C14F_4C7C276E9E2C" />
				<input type="hidden" id="B495FF2B_45A2_F3CA_C810_55FC054872D2" />
				<input type="hidden" id="C3E221A6_6B33_6A52_B7D1_57CB0228BB07" />

				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="C6CA88FD_548A_FE30_9871_AFE55362439B">Rank</label>
							<input class="form-control form-control-sm" type="number" id="C6CA88FD_548A_FE30_9871_AFE55362439B" />
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="E9801316_0EC6_D6F2_0BC9_E1E1DC3ABA00">Description</label>
							<input class="form-control form-control-sm" type="text" id="E9801316_0EC6_D6F2_0BC9_E1E1DC3ABA00" />
						</div>
					</div>
				</div>

				<div class="row mb-2">
					<div class="col-md-3">
						<div class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" id="F82C7F86_1260_D5B1_4CBF_EE519415B3FD">
							<label class="custom-control-label" for="F82C7F86_1260_D5B1_4CBF_EE519415B3FD"><i class="fa fa-times"></i> Hidden</label>
						</div>
					</div>
					<div class="col-md-3">
						<div class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" id="DEA15A0F_5EBF_49E7_3E75_F29850184968">
							<label class="custom-control-label" for="DEA15A0F_5EBF_49E7_3E75_F29850184968"><i class="fa fa-minus-circle"></i> Admin only</label>
						</div>
					</div>
					<div class="col-md-3">
						<div class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" id="E2D8A4EB_1065_01B5_C8DB_7B2E01F03AD4">
							<label class="custom-control-label" for="E2D8A4EB_1065_01B5_C8DB_7B2E01F03AD4"><i class="fa fa-lock"></i> Crypted</label>
						</div>
					</div>
					<div class="col-md-3">
						<div class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" id="A4F33332_8DDD_B235_F523_6A35B902519C">
							<label class="custom-control-label" for="A4F33332_8DDD_B235_F523_6A35B902519C"><i class="fa fa-key"></i> Primary</label>
						</div>
					</div>
				</div>

				<div class="row mb-2">
					<div class="col-md-3">
						<div class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" id="BC7E5CA1_09C8_BB5C_20E2_C0CFE3204224">
							<label class="custom-control-label" for="BC7E5CA1_09C8_BB5C_20E2_C0CFE3204224"><i class="fa fa-cog"></i> Created</label>
						</div>
					</div>
					<div class="col-md-3">
						<div class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" id="FB998C28_1E59_12A0_1B34_2C2C0A44A6AD">
							<label class="custom-control-label" for="FB998C28_1E59_12A0_1B34_2C2C0A44A6AD"><i class="fa fa-cog"></i> Created by</label>
						</div>
					</div>
					<div class="col-md-3">
						<div class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" id="AADC020E_E1CB_BA8E_E870_27B63666C988">
							<label class="custom-control-label" for="AADC020E_E1CB_BA8E_E870_27B63666C988"><i class="fa fa-cog"></i> Modified</label>
						</div>
					</div>
					<div class="col-md-3">
						<div class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" id="FACFE443_72F3_8917_2F08_934D88E55DDC">
							<label class="custom-control-label" for="FACFE443_72F3_8917_2F08_934D88E55DDC"><i class="fa fa-cog"></i> Modified by</label>
						</div>
					</div>
				</div>

				<div class="row mb-2">
					<div class="col-md-3">
						<div class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" id="F26C0D3D_B516_06EA_90F6_0E3B17D2AF5D">
							<label class="custom-control-label" for="F26C0D3D_B516_06EA_90F6_0E3B17D2AF5D"><i class="fa fa-bar-chart"></i> Statable</label>
						</div>
					</div>
					<div class="col-md-3"></div>
					<div class="col-md-3">
						<div class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" id="BA08505D_C468_5602_9745_12369E1F6318">
							<label class="custom-control-label" for="BA08505D_C468_5602_9745_12369E1F6318"><i class="fa fa-slack"></i> Groupable</label>
						</div>
					</div>
					<div class="col-md-3"></div>
				</div>

				<div class="form-group">
					<label for="E4FE4DF4_F171_1467_07ED_8BB7E0FFC15F">Web link script (Groovy)</label>
					<textarea class="form-control" rows="10" id="E4FE4DF4_F171_1467_07ED_8BB7E0FFC15F"></textarea>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
				<button class="btn btn-warning" onclick="SchemaCtrl.reset();">Reset</button>
				<button class="btn btn-primary" onclick="SchemaCtrl.apply();">Apply</button>
			</div>
		</div>
	</div>
</div>