<!-- ******************************************************************** -->

<style type="text/css">

.CodeMirror {
	height: auto;
}

</style>

<!-- ******************************************************************** -->

<div class="modal fade" role="dialog" id="B7852284_B6C4_8ED5_502D_B8EA22689D2A">
	<div class="modal-dialog modal-xl" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">
					<span id="AF826BB7_E7A8_C5A8_711C_84D00F042418"></span>
					<i class="fa fa-angle-right"></i>
					<span id="BA295CEC_F262_BB7F_09BF_4420E9EDBD6E"></span>
				</h5>
			</div>
			<div class="modal-body">

				<div id="C3F91880_2CD8_96B3_1093_65CD7AD615C4"></div>

				<input type="hidden" id="D10E4EFD_E2C2_849A_E80A_C5CDF370199C" />
				<input type="hidden" id="E1E8A4D4_0F83_39C4_EFDF_D687479C6B25" />

				<div class="card mb-0">
					<div class="card-header p-2">
						Metadata
					</div>
					<div class="card-body p-2">

						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="F03DA19A_40CE_5C11_9712_A82917FB07AF">Rank</label>
									<input class="form-control form-control-sm" type="number" id="F03DA19A_40CE_5C11_9712_A82917FB07AF" />
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="E831834E_1D7C_A0F7_B266_E5F5F9CB4F16">Description</label>
									<input class="form-control form-control-sm" type="text" id="E831834E_1D7C_A0F7_B266_E5F5F9CB4F16" />
								</div>
							</div>
						</div>

						<div class="row mb-2">
							<div class="col-md-3">
								<div class="custom-control custom-checkbox">
									<input class="custom-control-input" type="checkbox" id="E1B8F5B1_9BDD_D4A5_56B1_540534E17B09">
									<label class="custom-control-label" for="E1B8F5B1_9BDD_D4A5_56B1_540534E17B09"><i class="fa fa-arrows-h"></i> Bridge</label>
								</div>
							</div>
						</div>

					</div>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
				<button class="btn btn-warning" onclick="SchemaCtrl.resetEntity();">Reset</button>
				<button class="btn btn-primary" onclick="SchemaCtrl.applyEntity();">Apply</button>
			</div>
		</div>
	</div>
</div>

<!-- ******************************************************************** -->

<div class="modal fade" role="dialog" id="B0BEB5C7_8978_7433_F076_A55D2091777C">
	<div class="modal-dialog modal-xl" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">
					<span id="A1AA5034_F183_9365_2D09_DF80F1775C95"></span>
					<i class="fa fa-angle-right"></i>
					<span id="C52644CB_45E9_586E_DF23_38DD69147735"></span>
					<i class="fa fa-angle-right"></i>
					<span id="DE6E9DB2_BFED_1783_A6F7_D8CAAFFEFDD0"></span>
				</h5>
			</div>
			<div class="modal-body">

				<div id="F7A1EF6C_34F4_9A58_EEAD_F0DB92DCB886"></div>

				<input type="hidden" id="C78B630C_9805_7D15_C14F_4C7C276E9E2C" />
				<input type="hidden" id="B495FF2B_45A2_F3CA_C810_55FC054872D2" />
				<input type="hidden" id="C3E221A6_6B33_6A52_B7D1_57CB0228BB07" />

				<div class="card mb-2">
					<div class="card-header p-2">
						Metadata
					</div>
					<div class="card-body p-2">

						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="C6CA88FD_548A_FE30_9871_AFE55362439B">Rank</label>
									<input class="form-control form-control-sm" type="number" id="C6CA88FD_548A_FE30_9871_AFE55362439B" />
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="E9801316_0EC6_D6F2_0BC9_E1E1DC3ABA00">Description</label>
									<input class="form-control form-control-sm" type="text" id="E9801316_0EC6_D6F2_0BC9_E1E1DC3ABA00" />
								</div>
							</div>
						</div>

						<div class="row mb-2">
							<div class="col-md-3">
								<div class="custom-control custom-checkbox">
									<input class="custom-control-input" type="checkbox" id="F82C7F86_1260_D5B1_4CBF_EE519415B3FD">
									<label class="custom-control-label" for="F82C7F86_1260_D5B1_4CBF_EE519415B3FD"><i class="fa fa-times"></i> Hidden</label>
								</div>
							</div>
							<div class="col-md-3">
								<div class="custom-control custom-checkbox">
									<input class="custom-control-input" type="checkbox" id="DEA15A0F_5EBF_49E7_3E75_F29850184968">
									<label class="custom-control-label" for="DEA15A0F_5EBF_49E7_3E75_F29850184968"><i class="fa fa-minus-circle"></i> Admin only</label>
								</div>
							</div>
							<div class="col-md-3">
								<div class="custom-control custom-checkbox">
									<input class="custom-control-input" type="checkbox" id="E2D8A4EB_1065_01B5_C8DB_7B2E01F03AD4">
									<label class="custom-control-label" for="E2D8A4EB_1065_01B5_C8DB_7B2E01F03AD4"><i class="fa fa-lock"></i> Crypted</label>
								</div>
							</div>
						</div>

						<div class="row mb-2">
							<div class="col-md-3">
								<div class="custom-control custom-checkbox">
									<input class="custom-control-input" type="checkbox" id="A4F33332_8DDD_B235_F523_6A35B902519C">
									<label class="custom-control-label" for="A4F33332_8DDD_B235_F523_6A35B902519C"><i class="fa fa-key"></i> Primary</label>
								</div>
							</div>
							<div class="col-md-3">
								<div class="custom-control custom-checkbox">
									<input class="custom-control-input" type="checkbox" id="D1D48065_3C6B_B0A0_BA7C_8A0D0AB84F55">
									<label class="custom-control-label" for="D1D48065_3C6B_B0A0_BA7C_8A0D0AB84F55"><i class="fa fa-eye"></i> Readable</label>
								</div>
							</div>
						</div>

						<div class="row mb-2">
							<div class="col-md-3">
								<div class="custom-control custom-checkbox">
									<input class="custom-control-input" type="checkbox" id="F26C0D3D_B516_06EA_90F6_0E3B17D2AF5D">
									<label class="custom-control-label" for="F26C0D3D_B516_06EA_90F6_0E3B17D2AF5D"><i class="fa fa-bar-chart"></i> Statable</label>
								</div>
							</div>
							<div class="col-md-3">
								<div class="custom-control custom-checkbox">
									<input class="custom-control-input" type="checkbox" id="BA08505D_C468_5602_9745_12369E1F6318">
									<label class="custom-control-label" for="BA08505D_C468_5602_9745_12369E1F6318"><i class="fa fa-slack"></i> Groupable</label>
								</div>
							</div>
						</div>

						<hr />

						<div class="mb-2">
							<div class="form-check form-check-inline">
								<div class="custom-control custom-checkbox">
									<input class="custom-control-input" type="radio" name="C016C3E9" id="EDEB0864_76FC_5FCC_C951_4F59AC5B54D2">
									<label class="custom-control-label" for="EDEB0864_76FC_5FCC_C951_4F59AC5B54D2"><i class="fa fa-user"></i> User free field</label>
								</div>
							</div>
							<div class="form-check form-check-inline">
								<div class="custom-control custom-checkbox">
									<input class="custom-control-input" type="radio" name="C016C3E9" id="E747BF02_031E_A70D_9327_7A974FDF7E96">
									<label class="custom-control-label" for="E747BF02_031E_A70D_9327_7A974FDF7E96"><i class="fa fa-cog"></i> Automatic field</label>
								</div>
							</div>
							<div class="form-check form-check-inline">
								<div class="custom-control custom-checkbox">
									<input class="custom-control-input" type="radio" name="C016C3E9" id="BC7E5CA1_09C8_BB5C_20E2_C0CFE3204224">
									<label class="custom-control-label" for="BC7E5CA1_09C8_BB5C_20E2_C0CFE3204224"><i class="fa fa-cog"></i> Created field</label>
								</div>
							</div>
							<div class="form-check form-check-inline">
								<div class="custom-control custom-checkbox">
									<input class="custom-control-input" type="radio" name="C016C3E9" id="FB998C28_1E59_12A0_1B34_2C2C0A44A6AD">
									<label class="custom-control-label" for="FB998C28_1E59_12A0_1B34_2C2C0A44A6AD"><i class="fa fa-cog"></i> Created by field</label>
								</div>
							</div>
							<div class="form-check form-check-inline">
								<div class="custom-control custom-checkbox">
									<input class="custom-control-input" type="radio" name="C016C3E9" id="AADC020E_E1CB_BA8E_E870_27B63666C988">
									<label class="custom-control-label" for="AADC020E_E1CB_BA8E_E870_27B63666C988"><i class="fa fa-cog"></i> Modified field</label>
								</div>
							</div>
							<div class="form-check form-check-inline">
								<div class="custom-control custom-checkbox">
									<input class="custom-control-input" type="radio" name="C016C3E9" id="FACFE443_72F3_8917_2F08_934D88E55DDC">
									<label class="custom-control-label" for="FACFE443_72F3_8917_2F08_934D88E55DDC"><i class="fa fa-cog"></i> Modified by field</label>
								</div>
							</div>
						</div>

					</div>
				</div>

				<div class="card mb-2">
					<div class="card-header p-2">
						Web link script 
					</div>
					<div class="card-body p-2">
						<textarea id="E4FE4DF4_F171_1467_07ED_8BB7E0FFC15F"></textarea>
					</div>
				</div>

				<div class="card mb-0">
					<div class="card-header p-2">
						Embedded media
					</div>
					<div class="card-body p-2">

						<div class="row">
							<div class="col-md-3">
								<div class="custom-control custom-checkbox">
									<input class="custom-control-input" type="checkbox" id="B3F6E369_A7E4_26B6_C1EB_B2FC855C1B7A">
									<label class="custom-control-label" for="B3F6E369_A7E4_26B6_C1EB_B2FC855C1B7A"><i class="fa fa-picture-o"></i> Displayable</label>
								</div>
							</div>
							<div class="col-md-3">
								<div class="custom-control custom-checkbox">
									<input class="custom-control-input" type="checkbox" id="F592275B_2199_7962_D270_CBEE38B82DAF">
									<label class="custom-control-label" for="F592275B_2199_7962_D270_CBEE38B82DAF"><i class="fa fa-picture-o"></i> Base 64</label>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group form-group-sm">
									<label for="CE54048D_702D_0132_4659_9E558BE2AC11">Media type</label>
									<select class="form-control form-control-lg" id="CE54048D_702D_0132_4659_9E558BE2AC11" />
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group form-group-sm">
									<label for="F3F31D1D_6B74_F457_4FDC_1887A57ED3DF">Control</label>
									<select class="form-control form-control-xx" id="F3F31D1D_6B74_F457_4FDC_1887A57ED3DF" />
								</div>
							</div>
						</div>

					</div>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
				<button class="btn btn-warning" onclick="SchemaCtrl.resetField();">Reset</button>
				<button class="btn btn-primary" onclick="SchemaCtrl.applyField();">Apply</button>
			</div>
		</div>
	</div>
</div>

<!-- ******************************************************************** -->