<div class="modal fade" role="dialog" id="B0BEB5C7_8978_7433_F076_A55D2091777C">
	<div class="modal-dialog modal-xl" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title"><i class="fa fa-database"></i> Catalog extra</h5>
			</div>
			<div class="modal-body">
				<div id="CC64CB5C_1686_07CC_913D_BC92FC2A56D5"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
				<button class="btn btn-outline-primary" onclick="alert(SchemaCtrl);"><i class="fa fa-refresh"></i> Flush server caches (full)</button>
				<button class="btn btn-outline-primary" onclick="SchemaCtrl.flushServerCachesFast();"><i class="fa fa-refresh"></i> Flush server caches (partial)</button>
			</div>
		</div>
	</div>
</div>