/*--------------------------------------------------------------------------------------------------------------------*/

#jsdoc_content {
	text-align: justify;
}

/*--------------------------------------------------------------------------------------------------------------------*/

#jsdoc_content dl.details {
	border-left: 2px solid #DDD;
	clear: both;
	margin-top: 10px;
	margin-bottom: 00px;
}

#jsdoc_content dl.details dt {
	float: left;
	padding-left: 10px;
	width: 120px;
}

/*--------------------------------------------------------------------------------------------------------------------*/

#jsdoc_content .signature-name {
	color: #30708F;
	font-size: 18px;
}

#jsdoc_content .signature-params {
	color: #000000;
	font-size: 18px;
}

#jsdoc_content .signature-params-attrs {
	color: #AAAAAA;
	font-size: 11px;
	font-style: italic;
	margin-left: 2px;
}

#jsdoc_content .signature-attrs {
	color: #AAAAAA;
	font-size: 18px;
}

/*--------------------------------------------------------------------------------------------------------------------*/
