<!-- *************************************************************************************************************** -->

<div class="modal fade" role="dialog" id="B7852284_B6C4_8ED5_502D_B8EA22689D2A">
	<div class="modal-dialog modal-xl" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">
					<span class="badge rounded-pill bg-primary">
						<span id="AF826BB7_E7A8_C5A8_711C_84D00F042418"></span>
						<i class="bi bi-dot"></i>
						<span id="BA295CEC_F262_BB7F_09BF_4420E9EDBD6E"></span>
					</span>
				</h4>
				{% if BOOTSTRAP_VERSION > 4 %}
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
				{% else %}
				<button type="button" class="close" data-dismiss="modal"><i class="bi bi-x-lg"></i></button>
				{% endif %}
			</div>
			<div class="modal-body">

				<input type="hidden" id="D10E4EFD_E2C2_849A_E80A_C5CDF370199C" />
				<input type="hidden" id="E1E8A4D4_0F83_39C4_EFDF_D687479C6B25" />

				<div class="card mb-0">
					<div class="card-header p-2">
						Metadata
					</div>
					<div class="card-body p-2">

						<div class="row">
							<div class="col-md-6">
								<div class="mb-3">
									<label for="F03DA19A_40CE_5C11_9712_A82917FB07AF">Rank</label>
									<input class="form-control form-control-sm" type="number" id="F03DA19A_40CE_5C11_9712_A82917FB07AF" />
								</div>
							</div>
							<div class="col-md-6">
								<div class="mb-3">
									<label for="E831834E_1D7C_A0F7_B266_E5F5F9CB4F16">Description</label>
									<input class="form-control form-control-sm" type="text" id="E831834E_1D7C_A0F7_B266_E5F5F9CB4F16" />
								</div>
							</div>
						</div>

						<div class="row mb-2">
							<div class="col-md-3">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" id="E1B8F5B1_9BDD_D4A5_56B1_540534E17B09">
									<label class="form-check-label" for="E1B8F5B1_9BDD_D4A5_56B1_540534E17B09"><i class="bi bi-arrow-left-right"></i> Bridge</label>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" id="A7C3FA85_FE03_FC4F_04FB_D8F9C09430F1">
									<label class="form-check-label" for="A7C3FA85_FE03_FC4F_04FB_D8F9C09430F1"><i class="bi bi-x-circle-fill"></i> Hidden</label>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" id="BFFD13C4_EAE9_D440_15AB_6005A941FB23">
									<label class="form-check-label" for="BFFD13C4_EAE9_D440_15AB_6005A941FB23"><i class="bi bi-dash-circle-fill"></i> Admin only</label>
								</div>
							</div>
						</div>

					</div>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-secondary" data-{% if BOOTSTRAP_VERSION > 4 %}bs-{% endif %}dismiss="modal">Close</button>
				<button class="btn btn-warning" onclick="window.SchemaCtrl.resetEntity();">Reset</button>
				<button class="btn btn-primary" onclick="window.SchemaCtrl.applyEntity();">Apply</button>
			</div>
		</div>
	</div>
</div>

<!-- *************************************************************************************************************** -->

<div class="modal fade" role="dialog" id="B0BEB5C7_8978_7433_F076_A55D2091777C">
	<div class="modal-dialog modal-xl" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">
					<span class="badge rounded-pill bg-primary">
						<span id="A1AA5034_F183_9365_2D09_DF80F1775C95"></span>
						<i class="bi bi-dot"></i>
						<span id="C52644CB_45E9_586E_DF23_38DD69147735"></span>
						<i class="bi bi-dot"></i>
						<span id="DE6E9DB2_BFED_1783_A6F7_D8CAAFFEFDD0"></span>
					</span>
				</h4>
				{% if BOOTSTRAP_VERSION > 4 %}
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
				{% else %}
				<button type="button" class="close" data-dismiss="modal"><i class="bi bi-x-lg"></i></button>
				{% endif %}
			</div>
			<div class="modal-body">

				<input type="hidden" id="C78B630C_9805_7D15_C14F_4C7C276E9E2C" />
				<input type="hidden" id="B495FF2B_45A2_F3CA_C810_55FC054872D2" />
				<input type="hidden" id="C3E221A6_6B33_6A52_B7D1_57CB0228BB07" />

				<div class="card mb-2">
					<div class="card-header p-2">
						Metadata
					</div>
					<div class="card-body p-2">

						<div class="row">
							<div class="col-md-6">
								<div class="mb-3">
									<label for="C6CA88FD_548A_FE30_9871_AFE55362439B">Rank</label>
									<input class="form-control form-control-sm" type="number" id="C6CA88FD_548A_FE30_9871_AFE55362439B" />
								</div>
							</div>
							<div class="col-md-6">
								<div class="mb-3">
									<label for="E9801316_0EC6_D6F2_0BC9_E1E1DC3ABA00">Description</label>
									<input class="form-control form-control-sm" type="text" id="E9801316_0EC6_D6F2_0BC9_E1E1DC3ABA00" />
								</div>
							</div>
						</div>

						<div class="row mb-2">
							<div class="col-md-3">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" id="F82C7F86_1260_D5B1_4CBF_EE519415B3FD">
									<label class="form-check-label" for="F82C7F86_1260_D5B1_4CBF_EE519415B3FD"><i class="bi bi-x-circle-fill"></i> Hidden</label>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" id="DEA15A0F_5EBF_49E7_3E75_F29850184968">
									<label class="form-check-label" for="DEA15A0F_5EBF_49E7_3E75_F29850184968"><i class="bi bi-dash-circle-fill"></i> Admin only</label>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" id="AB8FF40A_4D44_56B5_DCBC_1A0E877E10F5">
									<label class="form-check-label" for="AB8FF40A_4D44_56B5_DCBC_1A0E877E10F5"><i class="bi bi-safe2-fill"></i> Hashed</label>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" id="E2D8A4EB_1065_01B5_C8DB_7B2E01F03AD4">
									<label class="form-check-label" for="E2D8A4EB_1065_01B5_C8DB_7B2E01F03AD4"><i class="bi bi-safe2-fill"></i> Crypted</label>
								</div>
							</div>
						</div>

						<div class="row mb-2">
							<div class="col-md-3">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" id="A4F33332_8DDD_B235_F523_6A35B902519C">
									<label class="form-check-label" for="A4F33332_8DDD_B235_F523_6A35B902519C"><i class="bi bi-key"></i> Primary</label>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" id="D1D48065_3C6B_B0A0_BA7C_8A0D0AB84F55">
									<label class="form-check-label" for="D1D48065_3C6B_B0A0_BA7C_8A0D0AB84F55"><i class="bi bi-filetype-json"></i> JSON</label>
								</div>
							</div>
						</div>

						<div class="row mb-2">
							<div class="col-md-3">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" id="F26C0D3D_B516_06EA_90F6_0E3B17D2AF5D">
									<label class="form-check-label" for="F26C0D3D_B516_06EA_90F6_0E3B17D2AF5D"><i class="bi bi-bar-chart-fill"></i> Statable</label>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" id="BA08505D_C468_5602_9745_12369E1F6318">
									<label class="form-check-label" for="BA08505D_C468_5602_9745_12369E1F6318"><i class="bi bi-calculator-fill"></i> Groupable</label>
								</div>
							</div>
						</div>

						<hr />

						<div class="mb-2 d-flex justify-content-between">
							<div class="form-check">
								<input class="form-check-input" type="radio" name="C016C3E9" id="EDEB0864_76FC_5FCC_C951_4F59AC5B54D2">
								<label class="form-check-label" for="EDEB0864_76FC_5FCC_C951_4F59AC5B54D2"><i class="bi bi-person-fill"></i> User free field</label>
							</div>
							<div class="form-check">
								<input class="form-check-input" type="radio" name="C016C3E9" id="E747BF02_031E_A70D_9327_7A974FDF7E96">
								<label class="form-check-label" for="E747BF02_031E_A70D_9327_7A974FDF7E96"><i class="bi bi-gear-fill"></i> Automatic field</label>
							</div>
							<div class="form-check">
								<input class="form-check-input" type="radio" name="C016C3E9" id="BC7E5CA1_09C8_BB5C_20E2_C0CFE3204224">
								<label class="form-check-label" for="BC7E5CA1_09C8_BB5C_20E2_C0CFE3204224"><i class="bi bi-gear-fill"></i> « Created » field</label>
							</div>
							<div class="form-check">
								<input class="form-check-input" type="radio" name="C016C3E9" id="FB998C28_1E59_12A0_1B34_2C2C0A44A6AD">
								<label class="form-check-label" for="FB998C28_1E59_12A0_1B34_2C2C0A44A6AD"><i class="bi bi-gear-fill"></i> « Created by » field</label>
							</div>
							<div class="form-check">
								<input class="form-check-input" type="radio" name="C016C3E9" id="AADC020E_E1CB_BA8E_E870_27B63666C988">
								<label class="form-check-label" for="AADC020E_E1CB_BA8E_E870_27B63666C988"><i class="bi bi-gear-fill"></i> « Modified » field</label>
							</div>
							<div class="form-check">
								<input class="form-check-input" type="radio" name="C016C3E9" id="FACFE443_72F3_8917_2F08_934D88E55DDC">
								<label class="form-check-label" for="FACFE443_72F3_8917_2F08_934D88E55DDC"><i class="bi bi-gear-fill"></i> « Modified by » field</label>
							</div>
						</div>
					</div>
				</div>

				<div class="card mb-2">
					<div class="card-header d-flex justify-content-between p-2">
						<label class="form-label" for="F822CBCC_35AA_146C_7DEF_F80A00E8FFFA">Display query</label>
						<button class="btn badge rounded-pill bg-danger" type="button" onclick="$('#F822CBCC_35AA_146C_7DEF_F80A00E8FFFA').val('@NULL');">Empty</button>
					</div>
					<div class="card-body p-0">
						<textarea class="form-editor" id="F822CBCC_35AA_146C_7DEF_F80A00E8FFFA" data-lang="sql" data-show-gutter="true"></textarea>
					</div>
				</div>

				<div class="card mb-2">
					<div class="card-header d-flex justify-content-between p-2">
						<label class="form-label" for="E4FE4DF4_F171_1467_07ED_8BB7E0FFC15F">Web link script</label>
						<button class="btn badge rounded-pill bg-danger" type="button" onclick="$('#E4FE4DF4_F171_1467_07ED_8BB7E0FFC15F').val('@NULL');">Empty</button>
					</div>
					<div class="card-body p-0">
						<textarea class="form-editor" id="E4FE4DF4_F171_1467_07ED_8BB7E0FFC15F" data-lang="java" data-show-gutter="true"></textarea>
					</div>
				</div>

				<div class="card mb-0">
					<div class="card-header p-2">
						Embedded media
					</div>
					<div class="card-body p-2">

						<div class="row">
							<div class="col-md-3">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" id="B3F6E369_A7E4_26B6_C1EB_B2FC855C1B7A">
									<label class="form-check-label" for="B3F6E369_A7E4_26B6_C1EB_B2FC855C1B7A"><i class="bi bi-image"></i> Media</label>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" id="F592275B_2199_7962_D270_CBEE38B82DAF">
									<label class="form-check-label" for="F592275B_2199_7962_D270_CBEE38B82DAF"><i class="bi bi-file-zip"></i> Base 64</label>
								</div>
							</div>
							<div class="col-md-3">
								<div class="mb-3">
									<label for="CE54048D_702D_0132_4659_9E558BE2AC11">Media type</label>
									<select class="form-select form-select-sm" id="CE54048D_702D_0132_4659_9E558BE2AC11">
										<option value="@NULL">NONE</option>
										<option value="@NULL">--------</option>
										<option value="text/plain">text content</option>
										<option value="application/octet-stream">binary content</option>
										<option value="@NULL">--------</option>
										<option value="application/json">JSON</option>
										<option value="application/xml">XML</option>
										<option value="application/x-yaml">YAML</option>
										<option value="text/csv">CSV</option>
										<option value="@NULL">--------</option>
										<option value="image/bmp">Image BMP</option>
										<option value="image/gif">Image GIF</option>
										<option value="image/jpeg">Image JPEG</option>
										<option value="image/png">Image PNG</option>
										<option value="image/svg+xml">Image SVG</option>
										<option value="image/tiff">Image TIFF</option>
										<option value="image/webp">Image WEBP</option>
										<option value="@NULL">--------</option>
										<option value="audio/aac">Audio AAC</option>
										<option value="audio/midi">Audio MIDI</option>
										<option value="audio/mpeg">Audio MP3</option>
										<option value="audio/ogg">Audio OGG</option>
										<option value="audio/x-wav">Audio WAV</option>
										<option value="audio/webm">Audio WEBM</option>
										<option value="@NULL">--------</option>
										<option value="video/x-msvideo">Video AVI</option>
										<option value="video/mpeg">Video MPEG</option>
										<option value="video/ogg">Video OGG</option>
										<option value="video/webm">Video WEBM</option>
										<option value="@NULL">--------</option>
										<option value="application/x-7z-compressed">Archive 7-ZIP</option>
										<option value="application/x-tar">Archive TAR</option>
										<option value="application/x-bzip">Archive BZIP</option>
										<option value="application/x-bzip2">Archive BZIP2</option>
										<option value="application/x-gzip">Archive GZIP</option>
										<option value="application/x-xz">Archive XZ</option>
										<option value="application/tar+bzip">Archive TAR BZIP</option>
										<option value="application/tar+bzip2">Archive TAR BZIP2</option>
										<option value="application/tar+gzip">Archive TAR GZIP</option>
										<option value="application/tar+xz">Archive TAR XZ</option>
										<option value="application/zip">Archive ZIP</option>
									</select>
								</div>
							</div>
							<div class="col-md-3">
								<div class="mb-3">
									<label for="F3F31D1D_6B74_F457_4FDC_1887A57ED3DF">AMI control</label>
									<select class="form-select form-select-sm" id="F3F31D1D_6B74_F457_4FDC_1887A57ED3DF">
										<option value="@NULL">NONE</option>
										{% for control in controls %}
										<option value="{{ control|e }}">{{ control|e }}</option>
										{% endfor %}
									</select>
								</div>
							</div>
						</div>

					</div>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-secondary" data-{% if BOOTSTRAP_VERSION > 4 %}bs-{% endif %}dismiss="modal">Close</button>
				<button class="btn btn-warning" onclick="window.SchemaCtrl.resetField();">Reset</button>
				<button class="btn btn-primary" onclick="window.SchemaCtrl.applyField();">Apply</button>
			</div>
		</div>
	</div>
</div>

<!-- *************************************************************************************************************** -->
