/*--------------------------------------------------------------------------------------------------------------------*/

@import 'general.scss';
@import 'bootstrap.scss';
@import 'jsdoc.scss';

/*--------------------------------------------------------------------------------------------------------------------*/

@import '~bootstrap-icons/font/bootstrap-icons.css';

/*--------------------------------------------------------------------------------------------------------------------*/
/* AMI                                                                                                                */
/*--------------------------------------------------------------------------------------------------------------------*/

#ami_alert_content {
	position: absolute;
	z-index: 99999999;
	top: 8px;
	right: 8px;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* MONACAO                                                                                                            */
/*--------------------------------------------------------------------------------------------------------------------*/

.monaco-editor,
.monaco-editor .overflow-guard {
	border-radius: calc(0.2rem + 1px);
}

.monaco-editor .margin-view-overlays {
	background: rgb(248, 249, 250) url("../images/stripe2.png");
}

.monaco-editor .lines-content {
	padding-left: 0.125rem;
}

.form-editor,
.form-editor-monaco {
	border: 1px solid rgb(206, 212, 218);
	border-radius: 0.2rem;
	width: 100%;
}

.form-editor-done {
	opacity: 0;
	pointer-events: none;
	position: fixed;
	z-index: -9999;
	/**/
	top: 0;
	left: 0;
	height: 0;
	width: 0;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* SELECT2                                                                                                            */
/*--------------------------------------------------------------------------------------------------------------------*/

.select2-container--default {
	width: 100% !important;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple,
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    border: 1px solid rgb(206, 212, 218) !important;
    border-radius: 0.2rem !important;
}

/*--------------------------------------------------------------------------------------------------------------------*/

/* SELECT2-DEFAULT */

.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: calc(1.5em + 0.75rem + 2px) !important;
}

.select2-container--default .select2-selection--single {
	padding: calc((1.5em + 0.75rem) / 2.0 - 14px) 0.25rem !important;
}

/* SELECT2-SMALL */

.input-group-sm .select2-container--default .select2-selection--single,
.input-group-sm .select2-container--default .select2-selection--single .select2-selection__arrow {
	height: calc(1.5em + 0.5rem + 2px) !important;
}

.input-group-sm .select2-container--default .select2-selection--single {
	padding: calc((1.5em + 0.5rem) / 2.0 - 14px) 0.0rem !important;
}

/* SELECT2-LAGE */

.input-group-lg .select2-container--default .select2-selection--single,
.input-group-lg .select2-container--default .select2-selection--single .select2-selection__arrow {
	height: calc(1.5em + 1.0rem + 2px) !important;
}

.input-group-lg .select2-container--default .select2-selection--single {
	padding: calc((1.5em + 1.0rem) / 2.0 - 14px) 0.5rem !important;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* FLATPICKR                                                                                                          */
/*--------------------------------------------------------------------------------------------------------------------*/

input.form-datetime,
input.form-date,
input.form-time,
input.form-time-hm {
	background-color: white !important;
}

.flatpickr-calendar .dayContainer {
	padding-bottom: 2px;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.card-certificate {
	&.card-body {
		border: 2px dashed rgb(206, 212, 218);
		transition: all .3s ease-in-out;
	}

	i {
		font-size: 2rem;
		transition: transform .3s ease-in-out;
	}

	&:hover {
		cursor: pointer;
		border-color: #0d6efd;
		background-color: #f4f4f4;

		i {
			transform: scale(1.5);
		}
	}
}
