/*--------------------------------------------------------------------------------------------------------------------*/
/* AMI                                                                                                                */
/*--------------------------------------------------------------------------------------------------------------------*/

#ami_alert_content {
	display: flex;
	position: absolute;

	align-items: flex-end;
	flex-direction: column;

	z-index: 99999999;

	top: 8px;
	right: 8px;
}

/*-------------------------------------------------------------------------*/

.ami-code {
	border-left: 6px solid rgb(85, 138, 187);
	counter-reset: listing;
	text-align: left;
}

.ami-code,
.ami-code code {
	white-space: pre-wrap;
	word-break: break-all;
}

.ami-code code .line-number {
	counter-increment: listing;
	display: inline-block;
	width: 26px;
}

.ami-code code .line-number:before {
	color: rgb(128, 128, 128);
	content: counter(listing) ". ";
	font: 800 65% / 1.5 sans-serif;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* ACE                                                                                                                */
/*--------------------------------------------------------------------------------------------------------------------*/

.ace_editor,
.form-editor {
	border: 1px solid rgb(206, 212, 218);
	border-radius: 0.2rem;
	width: 100%;
}

.form-editor-hidden {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  z-index: -9999;
  /**/
  top: 0px;
  left: 0px;
  height: 0px;
  width: 0px;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* SELECT2                                                                                                            */
/*--------------------------------------------------------------------------------------------------------------------*/

.form-group .select2-container--default,
.input-group .select2-container--default {
	width: 100% !important;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple,
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    border: 1px solid rgb(206, 212, 218) !important;
    border-radius: 0.2rem !important;
}

/*--------------------------------------------------------------------------------------------------------------------*/

/* SELECT2-DEFAULT */

.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: calc(1.5em + 0.75rem + 2px) !important;
}

.select2-container--default .select2-selection--single {
	padding: calc((1.5em + 0.75rem) / 2.0 - 14px) 0.25rem !important;
}

/* SELECT2-SMALL */

.form-group-sm .select2-container--default .select2-selection--single,
.form-group-sm .select2-container--default .select2-selection--single .select2-selection__arrow,
.input-group-sm .select2-container--default .select2-selection--single,
.input-group-sm .select2-container--default .select2-selection--single .select2-selection__arrow {
	height: calc(1.5em + 0.5rem + 2px) !important;
}

.form-group-sm .select2-container--default .select2-selection--single,
.input-group-sm .select2-container--default .select2-selection--single {
	padding: calc((1.5em + 0.5rem) / 2.0 - 14px) 0rem !important;
}

/* SELECT2-LAGE */

.form-group-lg .select2-container--default .select2-selection--single,
.form-group-lg .select2-container--default .select2-selection--single .select2-selection__arrow,
.input-group-lg .select2-container--default .select2-selection--single,
.input-group-lg .select2-container--default .select2-selection--single .select2-selection__arrow {
	height: calc(1.5em + 1.0rem + 2px) !important;
}

.form-group-lg .select2-container--default .select2-selection--single,
.input-group-lg .select2-container--default .select2-selection--single {
	padding: calc((1.5em + 1.0rem) / 2.0 - 14px) 0.5rem !important;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* CANVASJS                                                                                                           */
/*--------------------------------------------------------------------------------------------------------------------*/

.canvasjs-chart-credit {
	display: none;
}

/*--------------------------------------------------------------------------------------------------------------------*/
