/*-------------------------------------------------------------------------*/
/* FONTS                                                                   */
/*-------------------------------------------------------------------------*/

@font-face {
	font-family: "janda";
	src: url("../../fonts/janda.ttf");
}

/*-------------------------------------------------------------------------*/

@font-face {
	font-family: "Open Sans";
	font-weight: normal;
	font-style: normal;
	src: url("../../fonts/OpenSans-Regular-webfont.eot");
	src: local("Open Sans"), local("OpenSans"),
		url("../../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"),
		url("../../fonts/OpenSans-Regular-webfont.woff") format("woff"),
		url("../../fonts/OpenSans-Regular-webfont.woff2") format("woff2"),
		url("../../fonts/OpenSans-Regular-webfont.svg#open_sansregular") format("svg"),
		url("../../fonts/OpenSans-Regular-webfont.ttf")
	;
}

@font-face {
	font-family: "Open Sans Light";
	font-weight: normal;
	font-style: normal;
	src: url("../../fonts/OpenSans-Light-webfont.eot");
	src: local("Open Sans Light"), local("OpenSans Light"),
		url("../../fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"),
		url("../../fonts/OpenSans-Light-webfont.woff") format("woff"),
		url("../../fonts/OpenSans-Light-webfont.woff") format("woff2"),
		url("../../fonts/OpenSans-Light-webfont.svg#open_sanslight") format("svg"),
		url("../../fonts/OpenSans-Light-webfont.ttf")
	;
}

/*-------------------------------------------------------------------------*/

@import "//fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic";

/*-------------------------------------------------------------------------*/
/* GENERAL THEME                                                           */
/*-------------------------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
	font-family: "Open Sans Light", "sans-serif";
}

/*-------------------------------------------------------------------------*/

pre {
	background-image: url("../../images/blueprint-dark.png");
}

/*-------------------------------------------------------------------------*/
/* BOOTSTRAP THEME                                                         */
/*-------------------------------------------------------------------------*/

.btn,
.form-control {
	font-size: 14.5px;
	line-height: 21px;
}

/*-------------------------------------------------------------------------*/

.breadcrumb {
	background-image: url("../../images/stripe2.png");
}

.breadcrumb > li + li::before {
	content: "/";
}

/*-------------------------------------------------------------------------*/

.jumbotron {
	background-color: white;

	border: 1px solid rgb(238, 238, 238);
	border-radius: 6px;

	margin-top: 10px;
	margin-bottom: 10px;
	padding: 00px 10px;
}

.jumbotron h1,
.jumbotron .h1,
.jumbotron h2,
.jumbotron .h2,
.jumbotron h3,
.jumbotron .h3 {
	margin-top: 16px;
	margin-bottom: 16px;
}

/*-------------------------------------------------------------------------*/

.modal-body {
	padding-bottom: 10px;
}

.modal-footer {
	background: rgb(245, 245, 245) url("../../images/stripe2.png");

	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
}

/*-------------------------------------------------------------------------*/

@media (min-width: 768px) {

	.navbar-nav > li > .dropdown-menu::before {
		border-bottom: 7px solid rgba(0, 0, 0, 0.2);
		border-left: 7px solid transparent;
		border-right: 7px solid transparent;
		content: "";
		display: inline-block;
		left: 9px;
		position: absolute;
		top: -7px;
	}

	.navbar-nav > li > .dropdown-menu::after {
		border-bottom: 6px solid rgb(255, 255, 255);
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		content: "";
		display: inline-block;
		left: 10px;
		position: absolute;
		top: -6px;
	}

	.navbar-nav.navbar-right > li > .dropdown-menu::before {
		left: auto;
		right: 12px;
	}

	.navbar-nav.navbar-right > li > .dropdown-menu::after {
		left: auto;
		right: 13px;
	}
}

.navbar-nav > li > .dropdown-menu {
	border-radius: 4px;
	margin-top: 2px;
}

/*-------------------------------------------------------------------------*/

.nav-tabs {
	margin-bottom: 8px;
}

/*-------------------------------------------------------------------------*/

.panel-title {
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}

/*-------------------------------------------------------------------------*/
/* AMI THEME                                                               */
/*-------------------------------------------------------------------------*/

.ami-callout {
	background: #FFF;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	margin: 20px 00px;
	padding: 20px 20px;
	position: relative;
}

.ami-callout:before,
.ami-callout:after {
	content: "";
	position: absolute;
	z-index: -2;
}

/*-------------------------------------------------------------------------*/

.ami-guilloche {
	margin: 0px;
	padding: 5px;

	height: 180px;
	width: 100%;

	border: solid 2px rgb(211, 211, 211);

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	background-image: url("../../images/guilloche.gif");
	background-position: center center;
	background-size: 100% 180%;

	text-align: center;
	font-family: "janda";
}

/*-------------------------------------------------------------------------*/

.ami-code {
	border-left: 6px solid rgb(85, 138, 187);
	counter-reset: listing;
}

.ami-code code .line-number {
	counter-increment: listing;
	display: inline-block;
	width: 26px;
}

.ami-code code .line-number:before {
	color: rgb(128, 128, 128);
	content: counter(listing) ". ";
	font: 800 65% / 1.5 sans-serif;
}

/*-------------------------------------------------------------------------*/

#ami_locker {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	display: none;
	position: fixed;
	overflow: hidden;
	outline: 0 none;

	z-index: 9999;
}

#ami_locker .progress {
	bottom: -20px;
	left: 0;
	right: 0;

	position: absolute;
}

/*-------------------------------------------------------------------------*/
/* AMI SELECT                                                              */
/*-------------------------------------------------------------------------*/

.ami-select-wrapper {
	background: url("../../images/dropdown.png") no-repeat right center white;
	height: 34px;
	padding: 0px;
}

.ami-select-wrapper select {
	background-color: #FFFFFF;
	padding-right: 16px;
	height: 100%;
	width: 100%;
}

@-moz-document url-prefix() {

	.ami-select-wrapper select {
		background-color: transparent;
		-moz-appearance: none;
		text-indent: 0.01px;
		text-overflow: "";
	}
}

/*-------------------------------------------------------------------------*/
/* AMI BURST                                                               */
/*-------------------------------------------------------------------------*/

@-webkit-keyframes burst {

	0% {
		opacity: 0.6;
	}

	50% {
		-webkit-transform: scale(1.8);
		-moz-transform: scale(1.8);
		transform: scale(1.8);
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}

@keyframes burst {

	0% {
		opacity: 0.6;
	}

	50% {
		-webkit-transform: scale(1.8);
		-moz-transform: scale(1.8);
		transform: scale(1.8);
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}

.faa-burst.animated,
.faa-burst.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-burst {
	-webkit-animation: burst 3s infinite linear;
	-moz-animation: burst 3s infinite linear;
	animation: burst 3s infinite linear;
}

/*-------------------------------------------------------------------------*/
/* CANVASJS THEME                                                          */
/*-------------------------------------------------------------------------*/

.canvasjs-chart-credit {
	display: none;
}

/*-------------------------------------------------------------------------*/