/*-------------------------------------------------------------------------*/
/* FONTS                                                                   */
/*-------------------------------------------------------------------------*/

@font-face {
	font-family: "Open Sans";
	font-weight: normal;
	font-style: normal;
	src: url("../fonts/OpenSans-Regular-webfont.eot");
	src: local("Open Sans"), local("OpenSans"),
		url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"),
		url("../fonts/OpenSans-Regular-webfont.woff") format("woff"),
		url("../fonts/OpenSans-Regular-webfont.woff2") format("woff2"),
		url("../fonts/OpenSans-Regular-webfont.svg#open_sansregular") format("svg"),
		url("../fonts/OpenSans-Regular-webfont.ttf")
	;
}

@font-face {
	font-family: "Open Sans Light";
	font-weight: normal;
	font-style: normal;
	src: url("../fonts/OpenSans-Light-webfont.eot");
	src: local("Open Sans Light"), local("OpenSans Light"),
		url("../fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"),
		url("../fonts/OpenSans-Light-webfont.woff") format("woff"),
		url("../fonts/OpenSans-Light-webfont.woff") format("woff2"),
		url("../fonts/OpenSans-Light-webfont.svg#open_sanslight") format("svg"),
		url("../fonts/OpenSans-Light-webfont.ttf")
	;
}

/*-------------------------------------------------------------------------*/

@font-face {
	font-family: "Ubuntu Mono";
	font-weight: normal;
	font-style: 400;
	src: local("Ubuntu Mono"), local("UbuntuMono-Regular"),
		url("../fonts/UbuntuMono-Regular-webfont.woff2") format("woff2")
	;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/*
@font-face {
	font-family: "Ubuntu Mono";
	font-weight: normal;
	font-style: 700;
	src: local("Ubuntu Mono Bold"), local("UbuntuMono-Bold"),
		url("../fonts/UbuntuMono-Bold-webfont.woff2") format("woff2")
	;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
*/
/*-------------------------------------------------------------------------*/
/* GENERAL                                                                 */
/*-------------------------------------------------------------------------*/

blockquote {
 	font-size: 15.5px;
}

/*-------------------------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
	font-family: "Open Sans Light", "sans-serif";
}

/*-------------------------------------------------------------------------*/

pre {
	background-image: url("../images/blueprint-dark.png");
}

/*-------------------------------------------------------------------------*/
