/*-------------------------------------------------------------------------*/
/* FONTS                                                                   */
/*-------------------------------------------------------------------------*/

@font-face {
	font-family: "Open Sans";
	font-weight: normal;
	font-style: normal;
	src: url("../fonts/OpenSans-Regular-webfont.eot");
	src: local("Open Sans"), local("OpenSans"),
		url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"),
		url("../fonts/OpenSans-Regular-webfont.woff") format("woff"),
		url("../fonts/OpenSans-Regular-webfont.woff2") format("woff2"),
		url("../fonts/OpenSans-Regular-webfont.svg#open_sansregular") format("svg"),
		url("../fonts/OpenSans-Regular-webfont.ttf")
	;
}

@font-face {
	font-family: "Open Sans Light";
	font-weight: normal;
	font-style: normal;
	src: url("../fonts/OpenSans-Light-webfont.eot");
	src: local("Open Sans Light"), local("OpenSans Light"),
		url("../fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"),
		url("../fonts/OpenSans-Light-webfont.woff") format("woff"),
		url("../fonts/OpenSans-Light-webfont.woff") format("woff2"),
		url("../fonts/OpenSans-Light-webfont.svg#open_sanslight") format("svg"),
		url("../fonts/OpenSans-Light-webfont.ttf")
	;
}

/*-------------------------------------------------------------------------*/
/* GENERAL                                                                 */
/*-------------------------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
	font-family: "Open Sans Light";
}

/*-------------------------------------------------------------------------*/

pre {
	background-image: url("../images/blueprint-dark.png");
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 0.5rem;
	padding: 0.5rem;
}

/*-------------------------------------------------------------------------*/

pre,
code {
	font-family: "Menlo", "Monaco", "monospace";
	font-size: 0.875em;
}

/*-------------------------------------------------------------------------*/
