<ul class="nav nav-tabs">
	<li class="nav-item"><a class="nav-link active" href="#ADDEB5D2_AE96_88A7_B057_3576276B8415" data-toggle="tab">Catalogs</a></li>
	<li class="nav-item"><a class="nav-link xxxxxx" href="#A93A90FF_A46A_F177_6516_D0321D441C6B" data-toggle="tab">Catalog extra</a></li>
	<li class="nav-item"><a class="nav-link xxxxxx" href="#EE5EB687_9668_722B_7397_795C31B059BE" data-toggle="tab">Foreign keys</a></li>
</ul>

<div class="tab-content">
	<div class="tab-pane active" id="ADDEB5D2_AE96_88A7_B057_3576276B8415">
		<h1>Catalogs</h1>
		<div id="A5F4DDCC_C731_9B8D_D293_5FCCF9F6F99F"></div>
	</div>
	<div class="tab-pane xxxxxx" id="A93A90FF_A46A_F177_6516_D0321D441C6B">
		<h1>Catalog extra</h1>
		<div id="A8A6384A_0599_B207_B5E3_89FBD4BF0657"></div>
	</div>
	<div class="tab-pane xxxxxx" id="EE5EB687_9668_722B_7397_795C31B059BE">
		<h1>Foreign keys</h1>
		<div id="E2DDC44D_7AB8_708B_F4E4_EF18A24B3D2F"></div>
	</div>
</div>