<div class="text-center">
	<button class="btn btn-outline-primary mb-2" onclick="adminDashboardApp.subsubapp.flushServerCachesSlow();" style="width: 80%;"><i class="fa fa-refresh"></i> Flush server caches (full)</button>
	<br />
	<button class="btn btn-outline-primary mb-2" onclick="adminDashboardApp.subsubapp.flushServerCachesFast();" style="width: 80%;"><i class="fa fa-refresh"></i> Flush server caches (partial)</button>
</div>