<div class="modal fade" tabindex="-1" id="D2B5FADE_97A3_4B8C_8561_7A9AEACDBE5B">
	<div class="modal-dialog modal-dialog-centered modal-xl">
		<div class="modal-content">
			<div class="container-fluid pl-0">
				<div class="row align-content-between">
					<div class="d-none d-lg-block col-12 col-lg-6 p-0">
						<img class="img-fluid rounded-start h-100" src="https://mediaarchive.cern.ch/MediaArchive/Photo/Public/2005/0511013/0511013_01/0511013_01-A4-at-144-dpi.jpg" alt="" style="object-fit: cover;">
					</div>
					<div class="col-12 col-lg-6 p-0 d-flex flex-column justify-content-center align-content-between">
						<div class="bg-transparent modal-header border-bottom-0">
							<ul class="nav nav-tabs" id="myTab" role="tablist">
								<li class="nav-item" role="presentation">
									<a class="nav-link active" id="home-tab" data-toggle="tab" href="#B7894CC1_1DAA_4A7E_B7D1_DBDF6F06AC73" role="tab" aria-controls="home" aria-selected="true"><i class="bi bi-box-arrow-in-right"></i> Sign in</a>
								</li>
								<li class="nav-item" role="presentation">
									<a class="nav-link" id="profile-tab" data-toggle="tab" href="#EE055CD4_E58F_4834_8020_986AE3F8D67D" role="tab" aria-controls="profile" aria-selected="false"><i class="bi bi-person-plus-fill"></i> Create an account</a>
								</li>
								<li class="nav-item" role="presentation">
									<a class="nav-link" id="contact-tab" data-toggle="tab" href="#DA2047A2_9E5D_420D_B6E7_FA261D2EF10F" role="tab" aria-controls="contact" aria-selected="false"><i class="bi bi-key-fill"></i> Reset my password</a>
								</li>
							</ul>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body d-flex flex-column justify-content-center">
							<div class="tab-content">
								{# Sign in #}
								<form class="tab-pane fade show active pb-5" role="tabpanel" id="B7894CC1_1DAA_4A7E_B7D1_DBDF6F06AC73">
									<div class="container-fluid">
										<h1 class="font-weight-bold mb-3">Welcome back !</h1>

										<div class="row">
											<div class="col-md-12 gx-0">
												<div class="form-group">
													<label for="E64F24B2_33E6_4DED_9B24_28BE04219613">Login<span class="text-danger">*</span></label>
													<input class="form-control" type="text" name="user" id="E64F24B2_33E6_4DED_9B24_28BE04219613" required="required" autocomplete="off" autocapitalize="off" spellcheck="false" placeholder="Type your login..." />
												</div>
												<div class="form-group">
													<label for="A4DFD039_034F_4D10_9668_385AEF4FBBB9">Password<span class="text-danger">*</span></label>
													<input class="form-control" type="password" name="pass" id="A4DFD039_034F_4D10_9668_385AEF4FBBB9" required="required" autocomplete="off" autocapitalize="off" spellcheck="false" placeholder="Type your password..." />
												</div>
												{% if passwordAuthenticationAllowed %}
													<button type="submit" class="btn btn-primary shadowed w-100">Sign in</button>

													{% if certificateAuthenticationAllowed %}
														<div class="hr-sect">OR</div>
													{% endif %}
												{% endif %}

												{% if certificateAuthenticationAllowed %}
													{% if changeCertificateAllowed %}
														<div class="btn-group w-100">
															<button class="btn btn-dark shadowed w-100 d-flex align-items-center justify-content-center" type="button" onclick="amiAuth.form_login2();">
																<i class="bi bi-patch-check pr-1"></i>
																Certificate Login
															</button>
															<span class="btn btn-dark dropdown-toggle shadowed" data-toggle="dropdown">
																<i class="bi bi-wrench"></i>
															</span>
															<ul class="dropdown-menu dropdown-menu-right">
																<li><a class="dropdown-item" href="javascript:amiAuth.form_attachCert();">Attach Certificate</a></li>
																<li><a class="dropdown-item" href="javascript:amiAuth.form_detachCert();">Detach Certificate</a></li>
															</ul>
														</div>
													{% else %}
														<button class="btn btn-dark shadowed w-100 d-flex align-items-center justify-content-center" type="button" onclick="amiAuth.form_login2();">
															<i class="bi bi-patch-check pr-1"></i>
															Certificate Login
														</button>
													{% endif %}
												{% endif %}

												{% if ssoAuthenticationAllowed %}
													<button class="btn light-primary shadowed w-100 mt-3" type="button" onclick="amiAuth.sso()">
														<i class="bi bi-box-arrow-in-right"></i>
														SSO Login
													</button>
												{% endif %}
											</div>
										</div>
									</div>
								</form>

								{# Create an account #}
								<form class="tab-pane fade xxxxxx" role="tabpanel" id="EE055CD4_E58F_4834_8020_986AE3F8D67D">
									<h1 class="font-weight-bold mb-3">Welcome.</h1>
									<div class="modal-body pb-5">
										{% if captchaAllowed %}
											<input type="hidden" name="captcha_hash" id="FD95B3FA_C808_0E08_2D1E_0FE0E3871101" />
										{% endif %}
										<div class="row">
											<div class="col-md-12">
												<div class="row">
													<div class="col-md-6">
														<div class="form-group">
															<label for="D752CE80_49C3_4BDC_8B1A_8ED6BD57C538">First name<span class="text-danger">*</span></label>
															<input class="form-control" type="text" name="first_name" id="D752CE80_49C3_4BDC_8B1A_8ED6BD57C538" tabindex="1" required="required" placeholder="Type your first name..." />
														</div>
														<div class="form-group">
															<label for="A9A08864_6A32_45A4_8898_C167564DB8BB">Login<span class="text-danger">*</span></label>
															<input class="form-control" type="text" name="login" id="A9A08864_6A32_45A4_8898_C167564DB8BB" tabindex="3" required="required" placeholder="Choose a login..." />
														</div>
														<div class="form-group">
															<label for="E6E30EEC_15EE_4FCF_9809_2B8EC2FEF388">Password<span class="text-danger">*</span></label>
															<input class="form-control" type="password" name="pass" id="E6E30EEC_15EE_4FCF_9809_2B8EC2FEF388" tabindex="5" required="required" placeholder="Choose a password..." />
														</div>
														{% if captchaAllowed %}
															<div class="mb-3">
																<label>Captcha</label>
																<img class="form-control" alt="" src="" id="AC9836E6_2A20_8711_39D5_0E8340561078" />
															</div>
														{% endif %}
													</div>
													<div class="col-md-6">
														<div class="form-group">
															<label for="B3E6D18C_ABA3_402C_88A2_55FA99555A7A">Last name<span class="text-danger">*</span></label>
															<input class="form-control" type="text" name="last_name" id="B3E6D18C_ABA3_402C_88A2_55FA99555A7A" tabindex="2" required="required" placeholder="Type your last name..." />
														</div>
														<div class="form-group">
															<label for="D1007165_B40F_4DAE_BA50_853F2C9DA32D">Email<span class="text-danger">*</span></label>
															<input type="email" class="form-control" name="email" id="D1007165_B40F_4DAE_BA50_853F2C9DA32D" tabindex="4" required="required" placeholder="Type your email..." />
														</div>
														<div class="form-group">
															<label for="CCD8E6F1_6DF8_4BDD_A0EC_C3C380830187">Password<span class="text-danger">*</span></label>
															<input class="form-control" type="password" name="xxxx" id="CCD8E6F1_6DF8_4BDD_A0EC_C3C380830187" tabindex="6" required="required" placeholder="Confirm the password..." />
														</div>
														{% if captchaAllowed %}
															<div class="form-group">
																<label for="F36FED50_1ACC_CD15_ABEC_6E06247BE2DD">Captcha<span class="text-danger">*</span></label>
																<input class="form-control" type="text" name="captcha_text" id="F36FED50_1ACC_CD15_ABEC_6E06247BE2DD" tabindex="7" required="required" placeholder="Confirm the captcha..." />
															</div>
														{% endif %}
													</div>
												</div>
												<div class="mb-3 text-left">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" name="attachCert" id="A09AE316_7068_4BC1_96A9_6B87D28863FE" tabindex="8" checked="checked" />
														<label class="custom-control-label" for="A09AE316_7068_4BC1_96A9_6B87D28863FE">Attach the current certificate</label>
													</div>
												</div>
												<div class="mb-3">
													<div class="text-center">
														<a href="#C3E94F6D_48E0_86C0_3534_691728E492F4" data-toggle="collapse">terms and conditions</a>
														<div>
															<iframe class="border collapse" id="C3E94F6D_48E0_86C0_3534_691728E492F4" style="padding: 1px; height: 220px; width: 100%;"></iframe>
														</div>
													</div>
												</div>
												<div class="mb-3 text-right">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" name="agree" id="C443738D_16BD_469F_1430_84EC13924118" tabindex="9" xxxxxxx="xxxxxxx" />
														<label class="custom-control-label" for="C443738D_16BD_469F_1430_84EC13924118">I agree with the terms and conditions</label>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="modal-footer bg-transparent border-top-0">
										<button class="btn btn-outline-secondary" type="button" data-dismiss="modal">Close</button>
										<button class="btn btn-primary shadowed" type="submit">Create</button>
									</div>
								</form>

								{# Reset a password #}
								<form class="tab-pane fade xxxxxx" role="tabpanel" id="DA2047A2_9E5D_420D_B6E7_FA261D2EF10F">
									<h1 class="font-weight-bold mb-3">Recover your password.</h1>

									<div class="modal-body">
										{% if captchaAllowed %}
											<input type="hidden" name="captcha_hash" id="A63C0110_E591_6FCE_6D7A_02EEBC094199" />
										{% endif %}
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<label for="F0B93AF7_6049_4271_B1C9_C494A012D6D0">Login<span class="text-danger">*</span></label>
													<input class="form-control" type="text" name="user" id="F0B93AF7_6049_4271_B1C9_C494A012D6D0" required="required" placeholder="Type your login..." />
												</div>
												{% if captchaAllowed %}
													<div class="row">
														<div class="col-md-6">
															<div class="form-group">
																<label>Captcha</label>
																<img class="form-control" alt="" src="" id="EA79605C_6EFF_4C77_9D70_88254B00FD52" />
															</div>
														</div>
														<div class="col-md-6">
															<div class="form-group">
																<label for="ECCBE7F1_1D33_169C_313E_C462B19DCDA0">Captcha<span class="text-danger">*</span></label>
																<input class="form-control" type="text" name="captcha_text" id="ECCBE7F1_1D33_169C_313E_C462B19DCDA0" tabindex="7" required="required" placeholder="Confirm the captcha..." />
															</div>
														</div>
													</div>
												{% endif %}
											</div>
										</div>
									</div>
									<div class="modal-footer bg-transparent border-top-0">
										<button class="btn btn-outline-secondary" type="button" data-dismiss="modal">Close</button>
										<button class="btn btn-primary shadowed" type="submit">Reset</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
