<h1>Search commands [<a href="{{WEBAPP_URL}}?subapp=tableViewer&userdata={&quot;catalog&quot;%3A &quot;self&quot;%2C &quot;entity&quot;%3A &quot;router_command&quot;}" target="_blank"><i class="fa fa-search"></i></a>]</h1>

<div class="input-group">
  <input class="form-control" type="text" id="FA9E8ABC_2469_C3CA_67F9_8DC2FEE6B32D" placeholder="Search for..." />
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" id="CD24BC02_C39F_AE0C_A83F_85B6458421B6">Go!</button>
  </div>
</div>

<br />

<div id="F989424E_06B3_365D_0CAD_9F223EC8DA01"></div>