<div class="text-center">
	<button class="btn btn-outline-primary mb-2" onclick="adminDashboardApp.subsubapp.findNewCommands();" style="width: 66%;"><i class="fa fa-refresh"></i> Find commands</button>
	<br />
	<button class="btn btn-outline-primary mb-2" onclick="adminDashboardApp.subsubapp.flushServerCaches();" style="width: 66%;"><i class="fa fa-refresh"></i> Flush caches (partial)</button>
</div>
