<div class="text-center">
	<button class="btn btn-outline-primary mb-2" onclick="adminDashboardApp.subsubapp.findNewCommands();" style="width: 80%;"><i class="fa fa-refresh"></i> Find new commands</button>
	<br />
	<button class="btn btn-outline-primary mb-2" onclick="adminDashboardApp.subsubapp.flushServerCaches();" style="width: 80%;"><i class="fa fa-refresh"></i> Flush server caches (partial)</button>
</div>
