<div class="row">
	<div class="col-md-3">
		<img src="{{ORIGIN_URL}}/subapps/Emergency/images/emergency.png" alt="Emergency" style="width: 100%;" />
	</div>
	<div class="col-md-6">
		<div class="modal-dialog modal-lg" style="margin-top: 00px;" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<div class="form-group">
						<label for="C51A09D0_6E2A_0CFA_83C8_9ABC1E2EAA75" class="control-label">Message (<span class="text-danger">160 characters max</span>)</label>
						<textarea name="command" rows="8" class="form-control" id="C51A09D0_6E2A_0CFA_83C8_9ABC1E2EAA75"></textarea>
					</div>
				</div>
				<div class="modal-footer">
					<i class="fa fa-exclamation-triangle"></i> For blocking issues only
					<br />
					<button class="btn btn-danger" id="A64EBE51_FD59_AAC3_BC5C_7CCC62F413B9" onclick="emergencyApp.send();">Send SMS</button>
				</div>
			</div>
		</div>

	</div>
	<div class="col-md-3">
		<!-- nothing -->
	</div>
</div>