<li class="nav-item">
	<a class="nav-link" href="#{{ id|e }}" role="tab" data-{% if BOOTSTRAP_VERSION > 4 %}bs-{% endif %}toggle="tab">
		{{ title }}{% if closable %} <i class="bi bi-x"></i>{% endif %}
	</a>
</li>
