<?js
	var data = obj;

	function __(code)
	{
		var result = [];

		var lines = code.split('\n');

		for(var i in lines)
		{
			result.push('<i class="line-number"></i>' + lines[i]);
		}

		return result.join('\n');
	}
?>
<section>
  <article>
    <pre class="ami-code"><code><?js= __(data.code) ?></code></pre>
  </article>
</section>