<form class="mb-2" id="C12ED50C_4BF7_DAD3_C698_DE0DCBB3228C">
	<div class="row">
		<div class="col-md-2 text-center">
			<img src="{{ORIGIN_URL}}/images/padlock.png" alt="" height="90" width="90" />
		</div>

		<div class="col-md-8">
			{% if user %}
			<input type="hidden" name="user" value="{{ user|e }}" id="A5A54104_A082_094F_F88C_10333C985981" />
			{% else %}
			<div class="form-group">
				<label for="A5A54104_A082_094F_F88C_10333C985981" class="form-control-label">Login<span class="text-danger">*</span></label>
				<input type="text" class="form-control form-control-sm" name="user" id="A5A54104_A082_094F_F88C_10333C985981" required="required" placeholder="Type your login..." />
			</div>
			{% endif %}
			{% if old_pass %}
			<input type="hidden" name="old_pass" value="{{ old_pass|e }}" id="F6520017_DBEB_C555_6D06_0E50AA50C43C" />
			{% else %}
			<div class="form-group">
				<label for="F6520017_DBEB_C555_6D06_0E50AA50C43C" class="form-control-label">Old password<span class="text-danger">*</span></label>
				<input type="password" class="form-control form-control-sm" name="old_pass" id="F6520017_DBEB_C555_6D06_0E50AA50C43C" required="required" placeholder="Type your old password..." />
			</div>
			{% endif %}
			<div class="form-group">
				<label for="F956453E_2AB6_9397_4976_A11EE21B8FAB">New password<span class="text-danger">*</span></label>
				<input type="password" class="form-control form-control-sm" name="new_pass" id="F956453E_2AB6_9397_4976_A11EE21B8FAB" required="required" placeholder="Choose a new password..." />
			</div>
			<div class="form-group">
				<label for="EB5C35F7_F6E0_9B1E_E356_9FB235003814">New password<span class="text-danger">*</span></label>
				<input type="password" class="form-control form-control-sm" name="xxxxxxxx" id="EB5C35F7_F6E0_9B1E_E356_9FB235003814" required="required" placeholder="Type your new password again..." />
			</div>
			<div class="text-right">
				<button type="reset" class="btn btn-outline-secondary">Reset</button>
				<button type="submit" class="btn btn-primary">Apply</button>
			</div>
		</div>
		<div class="col-md-2 text-center">
			<!-- ******************************************************************** -->
		</div>
	</div>
</div>