<div class="modal fade" role="dialog" id="B8927006_7FCE_87BD_FC8D_C7575D69C362">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title"><i class="fa fa-info"></i> Text box</h4>
			</div>
			<div class="modal-body">
			        <pre class="ami-code"><code></code></pre>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-secondary" data-clipboard-target="#B8927006_7FCE_87BD_FC8D_C7575D69C362 pre"><i class="fa fa-clipboard"></i> Copy</button>
				&nbsp;&nbsp;
				<button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>