<div class="row m-0 px-2 py-0">
	<div class="col-md-6" id="D2D815F2_0DB1_F1EF_1B81_A76A55F1ACCF">

		<textarea class="form-editor" data-lang="html" data-render-whitespace="true" id="D51A8FD2_21EB_CF57_B7E0_DD6B0367FB0C"></textarea>

	</div>
	<div class="col-md-6" id="E974FB62_3BAD_A0CF_7B96_10EBA1B0C3FF">

		<!--  dynamic -->

	</div>
</div>
