<li class="nav-item xxxxxxxx">
	{% if ssoAuthenticationAllowed %}
	<button class="btn btn-outline-secondary" type="button" onclick="amiAuth.sso()">
		<i class="bi bi-box-arrow-in-right"></i> {{ awfInfo.ssoLabel|default('Single Sign-On') }}
	</button>
	{% endif %}
	<button class="btn btn-primary" type="button" onclick="amiAuth.signIn()"><i class="bi bi-box-arrow-in-right"></i> Sign in</button>
</li>
