<li class="nav-item xxxxxxxx">
	{% if ssoAuthenticationAllowed %}
	<button class="btn btn-outline-secondary" type="button" onclick="amiAuth.sso()">
		<i class="bi bi-box-arrow-left"></i> {{awfInfo.ssoLabel}}
	</button>
	{% endif %}
</li>
