{% if groups is not empty %}
{%   for group in groups %}
<div>
	<span class="badge bg-primary px-3">{{group}}</span>
	<i class="bi bi-chevron-double-right"></i>
	{% for interface in groups[group] %}
		<a class="badge bg-secondary px-3" href="javascript: searchApp.select('{{interface.id|e}}');">{{interface.name}}</a>
	{% endfor %}
</div>
{%   endfor %}
{% else %}
<div class="alert alert-warning" role="alert">
	No search interfaces defined yet!
</div>
{% endif %}
