<div class="row">
	<div class="col-md-3">
		<div class="card mb-2">
			<h5 class="card-header p-2">
				Admin Dashboard
			</h5>
			<div class="list-group list-group-flush">
				<a class="list-group-item list-group-item-action xxxxxx p-2" href="{{WEBAPP_URL}}?subapp=adminDashboard&userdata=config"><i class="fa fa-cogs"></i> Configuration</a>
				<a class="list-group-item list-group-item-action xxxxxx p-2" href="{{WEBAPP_URL}}?subapp=adminDashboard&userdata=roles"><i class="fa fa-thumbs-o-up"></i> Roles</a>
				<a class="list-group-item list-group-item-action xxxxxx p-2" href="{{WEBAPP_URL}}?subapp=adminDashboard&userdata=commands"><i class="fa fa-code"></i> Commands</a>
				<a class="list-group-item list-group-item-action xxxxxx p-2" href="{{WEBAPP_URL}}?subapp=adminDashboard&userdata=users"><i class="fa fa-user"></i> Users</a>
			</div>
		</div>
		<div id="C54485C3_44F8_CE8E_0F54_BF847CEECE11"></div>
	</div>
	<div class="col-md-9">
		<div id="CB6036B7_5971_41C2_1194_F5A051B21EA0"></div>
	</div>
</div>