<div class="card pull-left mr-2 mt-2 align-self-start" id="C12133EC_2A38_3545_0685_974260DCC950_Q{{cnt}}" style="min-width: 285px;">
	<div class="card-header" style="padding: 0.5rem;">
		<span class="text-success">Q{{cnt}}</span>: {{name|e}}
		<button class="close box-close ml-1" type="button" data-dismiss="box"><i class="fa fa-times-circle"></i></button>
	</div>
	<div class="card-body" style="padding: 0.5rem;">
		<select class="custom-select custom-select-sm form-control-sm key mb-2" style="font-size: 13px;"></select>
		<select class="form-control value" multiple="multiple" size="6" disabled="disabled" style="font-size: 13px;"></select>
		<div class="text-right">
			#<span class="count">?</span>, limit: <span class="limit">?</span> <a href="#" class="show-less"><i class="fa fa-minus"></i></a>/<a href="#" class="show-more"><i class="fa fa-plus"></i></a>
		</div>
		<div class="input-group input-group-sm">
			<input type="text" class="form-control filter" placeholder="Filter, % for wildcarding" />
			<div class="input-group-append">
				<button type="button" class="btn btn-secondary filter">Apply</button>
			</div>
		</div>
	</div>
</div>