<div class="modal fade" role="dialog" id="DCDB367E_FB67_A957_68AC_B54038F860DB">
	<div class="modal-dialog" role="document" style="display: table; min-width: 500px; max-width: 95%;">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title"><i class="fa fa-question"></i> <span id="DF8EBE84_FA77_2711_8EB5_4B3213739A54"></span></h4>
			</div>
			<div class="modal-body"></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-secondary" data-clipboard-target="#DCDB367E_FB67_A957_68AC_B54038F860DB .modal-body"><i class="fa fa-clipboard"></i> Copy</button>
				&nbsp;&nbsp;
				<button type="button" class="btn btn-outline-secondary" id="C6245DA9_A1AB_D28C_B4A3_C6279EEF41DE">No</button>
				<button type="button" class="btn btn-primary" id="E5435D68_FE3D_C90F_FC41_DEFF400CE4AE">Yes</button>
			</div>
		</div>
	</div>
</div>