<div class="modal fade" data-backdrop="static" role="dialog" id="DCDB367E_FB67_A957_68AC_B54038F860DB">
	<div class="modal-dialog modal-xl" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title"><i class="fa fa-question"></i> <span id="DF8EBE84_FA77_2711_8EB5_4B3213739A54"></span></h4>
			</div>
			<div class="modal-body">
				<!-- message here -->
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-secondary" data-clipboard-target="#DCDB367E_FB67_A957_68AC_B54038F860DB .modal-body"><i class="fa fa-clipboard"></i> Copy</button>
				&nbsp;&nbsp;
				<button type="button" class="btn btn-outline-secondary" id="DAB9DB06_3398_251D_E7CC_2C0BF2E4D75F">No</button>
				<button type="button" class="btn btn-primary" id="E5435D68_FE3D_C90F_FC41_DEFF400CE4AE">Yes</button>
			</div>
		</div>
	</div>
</div>