svg {
	max-width: 100%;
	height: auto;
}

path {
	fill: none;
	stroke: black;
}

.background {
	fill: rgba(200, 212, 220, .5);
	stroke-width: .8px;
}

.graticule {
	stroke: rgba(0, 0, 0, .2);
	stroke-width: .5px;
}

.country {
	cursor: pointer;
}

.country .land {
	fill: white;
	stroke: rgba(0, 0, 0, .2);
	stroke-width .3px;
}

.country .overlay {
	fill: orange;
	fill-opacity: 0;
}