{% for group in groups %}
<div>
	<span class="badge {% if BOOTSTRAP_VERSION > 4 %}bg{% else %}badge{% endif %}-primary px-3">{{group}}</span>
	<i class="bi bi-chevron-double-right"></i>
	{% for interface in groups[group] %}
	<a class="badge {% if BOOTSTRAP_VERSION > 4 %}bg{% else %}badge{% endif %}-secondary px-3" href="javascript: simpleSearchApp.select('{{interface.id|e}}');">{{interface.name}}</a>
	{% endfor %}
</div>
{% else %}
<div class="alert alert-warning" role="alert">
	No search interfaces defined yet!
</div>
{% endfor %}
