<!-- ******************************************************************** -->

<style type="text/css">

.field-edit [data-action="edit-row"]:hover {

	background-color: rgb(248, 215, 218);
	border-radius: 0.25rem;
	cursor: pointer;
}

#A8572167_6898_AD6F_8EAD_9D4E2AEB3550 .nav-tabs,
#F44687A3_036C_9C77_3284_DD495D9F4D7D .nav-tabs {

	border-bottom: 0px;
	margin-bottom: 1px;
}

#A8572167_6898_AD6F_8EAD_9D4E2AEB3550 .nav-link,
#F44687A3_036C_9C77_3284_DD495D9F4D7D .nav-link {

	padding: 2px 4px;
}

</style>

<!-- ******************************************************************** -->

<div class="modal fade" role="dialog" id="A8572167_6898_AD6F_8EAD_9D4E2AEB3550">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title"><i class="fa fa-pencil"></i> Row editor for <span class="badge badge-pill badge-primary" id="E44B299D_96B3_9C00_C91C_555C549BF87B"></span></h4>
			</div>
			<div class="modal-body">

				<div id="B4CF70FC_14C8_FC57_DEF0_05144415DB6A"></div>
				<form id="F2E58136_73F5_D2E2_A0B7_2F810830AD98"></form>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
				<button type="reset" form="B85AC8DB_E3F9_AB6D_D51F_0B103205F2B1" class="btn btn-danger" id="FBAEFEFD_2B3B_9E95_09B3_57F008ADE8E0">Empty</button>
				<button type="submit" form="B85AC8DB_E3F9_AB6D_D51F_0B103205F2B1" class="btn btn-primary" id="E23242A4_0B6D_8184_B163_86C98AC5DA51">Append</button>
			</div>
		</div>
	</div>
</div>

<!-- ******************************************************************** -->

<div class="modal fade" role="dialog" id="F44687A3_036C_9C77_3284_DD495D9F4D7D">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title"><i class="fa fa-pencil"></i> Field editor for <span class="badge badge-pill badge-primary" id="D3CE601F_C7BA_5C8E_2564_491FED4C5D6F"></span></h4>
			</div>
			<div class="modal-body">

				<div id="B9B74CAB_E87A_4B68_A866_793E9C70EEF1"></div>
				<form id="C2C43049_4CD6_73C3_597B_F0399A220610"></form>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
				<button type="reset" form="E2E8670D_2BAE_B181_79E5_C8A170BD3981" class="btn btn-danger" id="FBAEFEFD_2B3B_9E95_09B3_57F008ADE8E0">Empty</button>
				<button type="submit" form="E2E8670D_2BAE_B181_79E5_C8A170BD3981" class="btn btn-primary" id="E23242A4_0B6D_8184_B163_86C98AC5DA51">Change</button>
			</div>
		</div>
	</div>
</div>

<!-- ******************************************************************** -->