<!-- ******************************************************************** -->

<style type="text/css">

.field-edit [data-action="edit"]:hover {

	background-color: rgb(248, 215, 218);
	border-radius: 0.25rem;
	cursor: pointer;
}

</style>

<!-- ******************************************************************** -->

<div class="modal fade" role="dialog" id="F44687A3_036C_9C77_3284_DD495D9F4D7D">
	<form class="modal-dialog modal-lg" role="document" id="E2E8670D_2BAE_B181_79E5_C8A170BD3981">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title"><i class="fa fa-window-maximize"></i> Field editor</h4>
			</div>
			<div class="modal-body">

				<div class="alert alert-success text-center" id="D3CE601F_C7BA_5C8E_2564_491FED4C5D6F"></div>

				<div class="accordion" id="A4A7E040_7F01_C1BD_7180_2327E5244805">
					<div class="card">
						<div class="card-header p-0">
							<h2 class="mb-0">
								<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#D22BDDA1_B582_6958_2EED_701D853D3B4D">
									String
								</button>
							</h2>
						</div>
						<div class="collapse" id="D22BDDA1_B582_6958_2EED_701D853D3B4D" data-parent="#A4A7E040_7F01_C1BD_7180_2327E5244805">
							<div class="card-body">
								<input class="form-control" type="text" />
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header p-0">
							<h2 class="mb-0">
								<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#EDD0ABD2_4AF8_4F27_AECD_D537F2695E67">
									Long string
								</button>
							</h2>
						</div>
						<div class="collapse" id="EDD0ABD2_4AF8_4F27_AECD_D537F2695E67" data-parent="#A4A7E040_7F01_C1BD_7180_2327E5244805">
							<div class="card-body">
								<textarea class="form-control" rows="6"></textarea>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header p-0">
							<h2 class="mb-0">
								<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#D20E11D2_1E45_B4B7_219A_9D9F490666D4">
									Number
								</button>
							</h2>
						</div>
						<div class="collapse" id="D20E11D2_1E45_B4B7_219A_9D9F490666D4" data-parent="#A4A7E040_7F01_C1BD_7180_2327E5244805">
							<div class="card-body">
								<input class="form-control" type="number" step="any" />
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header p-0">
							<h2 class="mb-0">
								<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#F0389A55_B680_9D33_8D06_3D51CF4A3934">
									Date / Time
								</button>
							</h2>
						</div>
						<div class="collapse" id="F0389A55_B680_9D33_8D06_3D51CF4A3934" data-parent="#A4A7E040_7F01_C1BD_7180_2327E5244805">
							<div class="card-body">
								<div class="input-group">
									<input class="form-control" type="text" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2} [0-9]{2}:[0-9]{2}:[0-9]{2}.[0-9]*" />
								</div>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header p-0">
							<h2 class="mb-0">
								<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#A70927B4_918F_07BC_2C91_B48CFCB812C6">
									Null
								</button>
							</h2>
						</div>
						<div class="collapse" id="A70927B4_918F_07BC_2C91_B48CFCB812C6" data-parent="#A4A7E040_7F01_C1BD_7180_2327E5244805">
							<div class="card-body">
								<input class="form-control" type="text" value="@NULL" readonly="readonly" />
							</div>
						</div>
					</div>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
				<button type="reset" class="btn btn-danger" id="FBAEFEFD_2B3B_9E95_09B3_57F008ADE8E0">Empty</button>
				<button type="submit" class="btn btn-primary" id="E23242A4_0B6D_8184_B163_86C98AC5DA51">Change</button>
			</div>
		</div>
	</form>
</div>

<!-- ******************************************************************** -->