<tr>
  <td><select class="form-control form-control-xs" onchange="amiDBModelerApp.setFeKeyField(%%INDEX%%, this.value);">%%FIELDS%%</select></td>
  <td><select class="form-control form-control-xs" onchange="amiDBModelerApp.setFeKeyTable(%%INDEX%%, this.value);">%%TABLES%%</select></td>
  <td><select class="form-control form-control-xs" onchange=""></select></td>
  <td><button class="btn btn-default btn-xs" onclick="amiDBModelerApp.removeFeKey(%%INDEX%%);"><i class="fa fa-times"></i></button></td>
</tr>