<tr>
  <td><input type="text" value="%%NAME%%" class="form-control form-control-xs" onkeyup="amiDBModelerApp.setFieldName(%%INDEX%%, this.value);" /></td>
  <td><input type="text" value="%%TYPE%%" class="form-control form-control-xs" onkeyup="amiDBModelerApp.setFieldType(%%INDEX%%, this.value);"/></td>
  <td><button class="btn btn-default btn-xs" onclick="amiDBModelerApp.editFieldOptions(%%INDEX%%);"><i class="fa fa-pencil-square-o"></i></button></td>
  <td><button class="btn btn-default btn-xs" onclick="amiDBModelerApp.removeField(%%INDEX%%);"><i class="fa fa-times"></i></button></td>
</tr>