<tr>
  <td><input type="text" value="%%NAME%%" class="form-control form-control-xs" onkeyup="amiDBModelerApp.setTableName(this.value);" /></td>
  <td><select class="form-control form-control-xs" onchange="amiDBModelerApp.setTableEncoding(this.value);">%%ENCODINGS%%</select></td>
  <td><button class="btn btn-default btn-xs" onclick="amiDBModelerApp.editTableColor();"><i class="fa fa-tint"></i></button></td>
  <td><button class="btn btn-default btn-xs" onclick="amiDBModelerApp.removeTable();"><i class="fa fa-times"></i></button></td>
</tr>