<div class="text-center">
	<button class="btn btn-outline-primary mb-2" onclick="adminDashboardApp.findNewCommands();" style="width: 80%;"><i class="fa fa-refresh"></i> Find new commands</button>
	<br />
	<button class="btn btn-outline-primary mb-2" onclick="adminDashboardApp.flushCommandCache();" style="width: 80%;"><i class="fa fa-refresh"></i> Flush command cache</button>
	<hr />
	<button class="btn btn-outline-primary mb-2" onclick="adminDashboardApp.flushServerCachesSlow();" style="width: 80%;"><i class="fa fa-refresh"></i> Flush server caches (full)</button>
	<br />
	<button class="btn btn-outline-primary mb-2" onclick="adminDashboardApp.flushServerCachesFast();" style="width: 80%;"><i class="fa fa-refresh"></i> Flush server caches (partial)</button>
	<hr />
	<a href="https://lpsc.in2p3.fr/" target="_blank">
		<img src="{{ORIGIN_URL}}/images/lpsc.png" alt="LPSC" style="width: 200px;" />
	</a>
</div>