#ami_command_list > div {
	background-color: rgb(255, 255, 255);
	cursor: pointer;
	display: table;
	line-height: 22px;
}

#ami_command_list > div:hover {
	background-color: rgb(245, 245, 245);
}

#ami_command_list > div > div {
	display: table-cell;
}

#ami_command_list > div > :first-child {
	width: 100%;
}

#ami_command_list .popover {
	max-width: 760px;
	width: 760px;
}
