#ami_command_list {
	padding-right: 18px;
	width: 100%;
}

#ami_command_list td {
	background-color: rgb(255, 255, 255);
	cursor: pointer;
}

#ami_command_list td:first-child:hover {
	background-color: rgb(245, 245, 245);
}

#ami_command_list .popover {
	max-width: 760px;
	width: 760px;
}
