#ami_command_list {
    width: 100%;
    height: 250px;
    overflow: scroll;
    padding-right: 18px;
}

#ami_command_list .clearfix {
	background-color: rgb(255, 255, 255);
}

#ami_command_list .clearfix:hover {
	background-color: rgb(245, 245, 245);
}

#ami_command_list .popover {
    max-width: 760px;
    width: 760px;
}

#ami_command_list pre {
    background-color: rgba(255, 203, 0, 0.1);
    background-image: url("../img/blueprint-dark.png");
    font-family: "Menlo", "Monaco", "monospace";
    white-space: pre-line;
    word-break: keep-all;
}

#ami_command_content pre {
    background-image: url("../img/blueprint-dark.png");
    border-left: 6px solid rgb(85, 138, 187);
    font-family: "Menlo", "Monaco", "monospace";
}

#ami_command_content pre span {
    color: rgb(136, 136, 136);
    display: block;
    float: left;
    margin-right: 6px;
    text-align: right;
}

#ami_command_content pre code {
    display: block;
    overflow: auto;
    white-space: pre;
}