<tr>
  <td><select class="form-control form-control-xs" onchange="amiCatalogModelerApp.setFKeyField(this.value, %%INDEX%%);">%%FIELDS%%</select></td>
  <td><select class="form-control form-control-xs" onchange="amiCatalogModelerApp.setFKeyTable(this.value, %%INDEX%%);">%%TABLES%%</select></td>
  <td><select class="form-control form-control-xs" onchange=""></select></td>
  <td><button class="btn btn-default btn-xs" onclick="amiCatalogModelerApp.removeFKey(%%INDEX%%);"><i class="fa fa-times"></i></button></td>
</tr>