<tr>
  <td><input type="text" value="%%NAME%%" class="form-control form-control-xs" onkeyup="amiCatalogModelerApp.setTableName(this.value);" /></td>
  <td><select class="form-control form-control-xs" onchange="amiCatalogModelerApp.setTableEncoding(this.value);">%%ENCODINGS%%</select></td>
  <td><button class="btn btn-default btn-xs" onclick=";"><i class="fa fa-tint"></i></button></td>
  <td><button class="btn btn-default btn-xs" onclick="amiCatalogModelerApp.removeTable();"><i class="fa fa-times"></i></button></td>
</tr>