<div class="row">
	<div class="col-md-3">
		<div class="panel-group accordion" role="tablist">
{% for CATEGORY in CATEGORIES %}
{% include 'subapps/Bootstrap/twig/Fragment/category.twig' with {'INDEX': loop.index, 'CATEGORY': CATEGORIES[CATEGORY]} %}
{% endfor %}
		</div>
	</div>
	<div class="col-md-9">
		<div class="demo ui-sortable"></div>
	</div>
</div>