<form class="text-center" id="E8F152B0_66C6_132C_0155_955D36654C13">
	<div class="my-5">
		<img src="{{ORIGIN_URL}}/controls/SimpleSearch/images/glass-simple.png" alt="" style="width: 80px; height: 80px;" />
	</div>
	<div class="input-group">
		<input type="text" class="form-control" name="q" id="F8D8C2FB_81D9_F7A0_121B_6FB2949F8DB6" />
		<span class="input-group-btn">
			<button type="submit" class="btn btn-secondary">Search</button>
		</span>
	</div>
</form>