<h1>Search users [<a href="{{WEBAPP_URL}}?subapp=tableViewer&userdata=%7B%22catalog%22%3A%20%22self%22%2C%20%22entity%22%3A%20%22router_user%22%7D" target="_blank"><i class="fa fa-search"></i></a>]</h1>

<div class="input-group">
  <input class="form-control" type="text" id="AB0061DA_691D_80A5_C2C0_2286ABB4845D" placeholder="Search for..." />
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" id="CD24BC02_C39F_AE0C_A83F_85B6458421B6">Go!</button>
  </div>
</div>

<br />

<div id="FCBD6DFC_2061_8CC3_652C_77671A179AAC"></div>