<div class="row">
	<div class="col-md-3">

		<div class="card mb-2">
			<div class="card-header py-2">
				<a href="#C4DD1448_3241_4454_A804_16EF6665645A" data-toggle="collapse">Catalogs</a>
			</div>
			<div class="collapse show" id="C4DD1448_3241_4454_A804_16EF6665645A">
				<div class="card-body">
					<select class="custom-select custom-select-sm mb-3" id="D015B3C1_B150_4E27_99D9_A628B3F9B0AC"></select>
					<div class="btn-group w-100">
						<button class="btn btn-sm btn-outline-secondary w-50" id="A9A20536_D366_4AFE_96E3_56E3FAF52179" onclick="schemaViewerApp.openSchema();">Open</button>
						<button class="btn btn-sm btn-outline-secondary w-50" id="D342245F_B95E_4CAB_84C5_53B509C28319" onclick="schemaViewerApp.saveSchema();">Save</button>
					</div>
				</div>
			</div>
		</div>

		<div class="card mb-2">
			<div class="card-header py-2">
				<a href="#F5F86E23_C7C0_4C8A_8D67_C997C4DECB50" data-toggle="collapse">Box properties</a>
			</div>
			<div class="collapse show" id="F5F86E23_C7C0_4C8A_8D67_C997C4DECB50">
				<div class="card-body">
					<input class="form-control form-control-sm jscolor" type="text" value="0066CC" id="F542C5DA_46FD_6A57_76CB_9A6A949E7F39" />
				</div>
			</div>
		</div>

		<div class="card mb-0">
			<div class="card-header py-2">
				<a href="#FC49A4AA_76EE_4D52_A2B6_5A0E1BAF541D" data-toggle="collapse">Import / Export schema</a>
			</div>
			<div class="collapse show" id="FC49A4AA_76EE_4D52_A2B6_5A0E1BAF541D">
				<div class="card-body">
					<div class="mb-3" id="EFAEDA1C_C8B2_46EA_AC47_A591A0704FE3">
						Drop a file
					</div>
					<div class="btn-group w-100">
						<button class="btn btn-sm btn-outline-secondary w-50" id="A8A2E848_F02A_40C7_8327_53F73B1B2BD6" onclick="schemaViewerApp.exportSchema();">Export</button>
						<button class="btn btn-sm btn-outline-secondary w-50" id="DA57C571_E294_4D75_B36F_FF6BB066D504" onclick="schemaViewerApp.printSchema();">Print</button>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div class="col-md-9">
		<div id="C6DDFAF6_9E75_41C5_87BD_0896B5299559"></div>
	</div>
</div>