<div class="modal fade" role="dialog" id="C48564EA_A64D_98BA_6232_D03D524CAD08">
	<form class="modal-dialog modal-lg" role="document" id="F114E547_5E78_72D9_BB7F_355CDBB3D03A">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title"><i class="fa fa-filter"></i> Filter</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label for="E95603E7_85A5_9CFC_50A3_6E3CDF7DE45C" class="form-label">Field « <strong id="E7014B57_B16A_7593_FA1B_0DD15C15AC3E"></strong> »</label>
					<select class="custom-select" name="filter" id="E95603E7_85A5_9CFC_50A3_6E3CDF7DE45C" onchange="var f = $(this).val(); if(f === '2' || f === '3' || f === '4' || f === '5' || f === '6' || f === '7' || f === '8' || f === '9') { $('#CAF8B5EB_1796_3837_5722_3B5B2A7C729B').show(); $('#A24427DD_0DCB_3AC8_4A3E_A75D79FAA8F7').hide(); } else if(f === '10' || f === '11') { $('#CAF8B5EB_1796_3837_5722_3B5B2A7C729B').hide(); $('#A24427DD_0DCB_3AC8_4A3E_A75D79FAA8F7').show(); } else { $('#CAF8B5EB_1796_3837_5722_3B5B2A7C729B').hide(); $('#A24427DD_0DCB_3AC8_4A3E_A75D79FAA8F7').hide(); }">
						<option value="" style="display: none;">Choose a filter</option>
						<option value="0">IS NULL</option>
						<option value="1">NOT IS NULL</option>
						<option value="2">EQUALS</option>
						<option value="3">NOT EQUALS</option>
						<option value="4">LIKE</option>
						<option value="5">NOT LIKE</option>
						<option value="6">&lt;</option>
						<option value="7">&lt;=</option>
						<option value="8">&gt;</option>
						<option value="9">&gt;=</option>
						<option value="10">BETWEEN</option>
						<option value="11">NOT BETWEEN</option>
					</select>
				</div>
				<input type="hidden" name="x" class="xxxxxxxxxxxxxxxxxxxxxxxxxxxx" id="F3A040E1_40EE_97B3_45D6_E7BFB61DBF44" />
				<input type= "text"  name="y" class="form-control form-control-sm" id="CAF8B5EB_1796_3837_5722_3B5B2A7C729B" />
				<div class="input-group" id="A24427DD_0DCB_3AC8_4A3E_A75D79FAA8F7">
					<input type="text" name="y1" class="form-control" />
					<span class="input-group-text border-left-0 border-right-0 rounded-0 px-1">AND</span>
					<input type="text" name="y2" class="form-control" />
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-secondary" id="C31B969B_357E_B68B_E56D_BA38DC220599">Close</button>
				<button type="submit" class="btn btn-primary" id="CE7B4CA6_63C6_416B_A2BC_45B53CC5EF37">Refine</button>
			</div>
		</div>
	</form>
</div>