<!-- ******************************************************************** -->

<style type="text/css">

#FEF9E8D8_D4AB_B545_B394_C12DD5817D61 table th,
#FEF9E8D8_D4AB_B545_B394_C12DD5817D61 table td,
#FEF9E8D8_D4AB_B545_B394_C12DD5817D61 table span {
	font-size: 14px;
	white-space: nowrap;
}

#CDE5AD14_1268_8FA7_F5D8_0D690F3FB850,
#FEF9E8D8_D4AB_B545_B394_C12DD5817D61 .edit-mode {
	display: none;
}

#FEF9E8D8_D4AB_B545_B394_C12DD5817D61 [contenteditable=true]:empty:before {
	content: attr(placeholder);
}

/**/

@media (min-width: 576px) {

	#F4B10C5C_47BC_2093_5269_EA03881409FA .input-group {
		max-width: 200px;
	}
}

</style>

<!-- ******************************************************************** -->

<nav class="navbar navbar-expand-lg navbar-light bg-light rounded-top" style="border: 1px solid #EEE; border-bottom: 0; padding: 0.1rem 0.75rem 0.1rem 1.0rem;">

	<span class="navbar-brand" id="C57C824B_166C_4C23_F349_8B0C8E94114A">
		<i class="fa fa-info-circle"></i>
	</span>

	<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#F4B10C5C_47BC_2093_5269_EA03881409FA">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="F4B10C5C_47BC_2093_5269_EA03881409FA">

		<div class="form-inline mr-sm-2 my-2 my-lg-0">
			<div class="input-group">
				<span class="input-group-btn">
					<button class="btn btn-outline-secondary" id="BB126294_FFC2_24B8_8765_CF653EB950F7">
						<i class="fa fa-step-backward"></i>
					</button>
				</span>
				<input type="text" class="form-control" id="DBE5AEB2_FF3E_F781_4DF9_30D97462D9BB" value="{{start}}" />
				<span class="input-group-addon px-1"><i class="fa fa-arrows-h"></i></span>
				<input type="text" class="form-control" id="BF85DC0E_C07E_DE5E_A65B_237FCA3D461C" value="{{stop}}" />
				<span class="input-group-btn">
					<button class="btn btn-outline-secondary" id="E7FDF4C8_ECD2_3FE0_8C75_541E511239C2">
						<i class="fa fa-step-forward"></i>
					</button>
				</span>
			</div>
		</div>

		<div class="form-inline mr-sm-2 my-2 my-lg-0">
			<button type="button" class="btn btn-outline-secondary mr-2" id="D809166F_A40B_2376_C8A5_977AA0C8C408"><i class="fa fa-refresh"></i></button>
			{% if canEdit and primaryField is not empty %}
			<input type="checkbox" id="DDC32238_DD25_8354_AC6C_F6E27CA6E18D"
					       data-width="125"
					       data-toggle="toggle"
					       data-onstyle="outline-warning"
					       data-offstyle="outline-secondary"
					       data-on="&lt;i class=&quot;fa fa-pencil&quot;&gt;&lt;/i&gt;&nbsp;edit mode"
					       data-off="&lt;i class=&quot;fa fa-eye&quot;&gt;&lt;/i&gt;&nbsp;view mode"
			/>
			<button type="button" class="btn btn-outline-warning ml-2" id="CDE5AD14_1268_8FA7_F5D8_0D690F3FB850"><i class="fa fa-plus"></i></button>
			{% endif %}
		</div>

		<ul class="navbar-nav mr-sm-2 my-2 my-lg-0">
			<li class="nav-item dropdown">
				<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">More...</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="#" id="CD458FEC_9AD9_30E8_140F_263F119961BE">SQL query</a>
					<a class="dropdown-item" href="#" id="F4F0EB6C_6535_7714_54F7_4BC28C254872">MQL query</a>
					<a class="dropdown-item" href="#" id="D49853E2_9319_52C3_5253_A208F9500408">Command</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#" id="C50C3427_FEE5_F115_1FEC_6A6668763EC4">JavaScript</a>
				</div>
			</li>
		</ul>

{% if isEmbedded %}
		<span class="navbar-text ml-auto d-none d-lg-inline">
			<img src="{{ORIGIN_URL}}/images/logo.png" height="24" />
		</span>
{% endif %}

	</div>

</nav>

<!-- ******************************************************************** -->

<div id="FEF9E8D8_D4AB_B545_B394_C12DD5817D61" style="overflow-x: scroll;"></div>

<!-- ******************************************************************** -->