<div class="panel panel-default">
	<div class="panel-heading" role="tab">
		<h4 class="panel-title">
			<a href="#ami_bootstrap_collapse{{INDEX}}" class="collapsed" role="button" data-toggle="collapse" data-parent="#ami_bootstrap_accordion">
				{{CATEGORY.title}}
			</a>
		</h4>
	</div>
	<div id="ami_bootstrap_collapse{{INDEX}}" class="panel-collapse collapse xx" role="tabpanel">
		<div class="panel-body">
{% if     CATEGORY.type === 'grid' %}
{% for ITEM in CATEGORY.items %}
{% include 'subapps/Bootstrap/twig/Fragment/grid.twig' with {'ITEM': ITEM} %}
{% endfor %}
{% elseif CATEGORY.type === 'html' %}
{% for ITEM in CATEGORY.items %}
{% include 'subapps/Bootstrap/twig/Fragment/html_component.twig' with {'ITEM': ITEM} %}
{% endfor %}
{% elseif CATEGORY.type === 'twig' %}
{% for ITEM in CATEGORY.items %}
{% include 'subapps/Bootstrap/twig/Fragment/twig_block.twig' with {'ITEM': ITEM} %}
{% endfor %}
{% endif %}
		</div>
	</div>
</div>