<div class="lyrow ui-draggable">
	<a href="#close" class="remove label label-danger"><i class="fa fa-times"></i> remove</a>
	<span class="drag label label-default  ui-draggable-handle"><i class="fa fa-arrows"></i> drag</span>
	<div class="preview"><input type="text" value="{{ITEM.name}}" class="form-control" placeholder="Enter your own"></div>
	<div class="view">
{{ITEM.text}}
	</div>
</div>