<div class="input-group">

  <table class="form-control" style="padding-top: 4px;">
    <tr>
      <td style="width: 23%;">
        <select name="entity_%%INPUT_CNT%%" style="border: none; height: 24px; width: 98%;" id="ami_search_modeler_entity_%%INPUT_CNT%%" onchange="amiSearchModelerApp.getFields($('#ami_search_modeler_interface_catalog').val(), $('#ami_search_modeler_entity_%%INPUT_CNT%%').val(), null, '#ami_search_modeler_field_%%INPUT_CNT%%');">
        </select>
      </td>
      <td style="width: 23%;">
        <select name="field_%%INPUT_CNT%%" style="border: none; height: 24px; width: 98%;" id="ami_search_modeler_field_%%INPUT_CNT%%">
        </select>
      </td>
      <td style="width: 23%;">
        <input type="text" name="alias_%%INPUT_CNT%%" style="border: none; border-right: 1px solid #CCC; height: 24px; width: 98%;" id="ami_search_modeler_alias_%%INPUT_CNT%%" placeholder="Alias" />
      </td>
      <td style="width: 23%;">
        <select name="type_%%INPUT_CNT%%" style="border: none; height: 24px; width: 98%;" id="ami_search_modeler_type_%%INPUT_CNT%%">
          <option value="0">text (few results)</option>
          <option value="1">text (many results)</option>
          <option value="2">number</option>
          <option value="3">boolean (checked)</option>
          <option value="4">boolean (unchecked)</option>
        </select>
      </td>
      <td style="width: 8%;">
        <input type="number" min="0" step="1" value="0" name="rank_%%INPUT_CNT%%" style="border: none; height: 24px; width: 98%;" id="ami_search_modeler_rank_%%INPUT_CNT%%" />
      </td>
    </tr>
  </table>

  <input type="hidden" name="flag_%%INPUT_CNT%%" value="0" />
  <input type="hidden" name="default_value_%%INPUT_CNT%%" value="" />

  <span class="input-group-btn">
    <a class="btn btn-default" href="javascript:amiSearchModelerApp.editFlags('%%INPUT_CNT%%');">
      <i class="fa fa-flag"></i>
    </a>
    <a class="btn btn-default" href="javascript:if(confirm('Please confirm...')) { $(this).parent().parent().remove(); }">
      <i class="fa fa-minus-circle"></i>
    </a>
  </span>

</div>