<tr>
  <td onclick="amiSearchModelerApp.select('%%ID%%', '%%INTERFACE%%', '%%CATALOG%%', '%%ENTITY%%');">
    %%INTERFACE%%
  </td>
  <td style="width: 25px; text-align: center;">
    <a href="javascript:amiWebApp.loadSubApp(amiSearchEngineApp, '%%INTERFACE%%');"><i class="fa fa-arrow-circle-o-right text-primary"></i></a>
  </td>
  <td style="width: 25px; text-align: center;">
    <a href="javascript:amiWebApp.loadSubApp(amiSimpleSearchEngineApp, '%%INTERFACE%%');"><i class="fa fa-arrow-circle-o-right text-warning"></i></a>
  </td>
</tr>