<div class="panel panel-default pull-left" style="display: inline-table; margin: 5px; min-width: 245px;" id="ami_search_engine_box_%%ALIAS%%">
  <div class="panel-heading">
    %%ALIAS%%
    <button type="button" class="close" onclick="amiSearchEngineApp.deleteBox('%%ALIAS%%');">&nbsp;<i class="fa fa-times-circle"></i></button>
    <button type="button" class="close" onclick="">&nbsp;<i class="fa fa-question-circle"></i></button>
  </div>
  <div class="panel-body">

    <div class="form-group form-group-sm" style="margin-bottom: 0px;">
      <select multiple="multiple" class="form-control" id="ami_search_engine_box_%%ALIAS%%_value" style="font-size: 14px; height: 120px;" onchange="amiSearchEngineApp.select('%%ALIAS%%');"></select>
    </div>

    <div class="text-right">
      &nbsp;
    </div>

    <div class="input-group input-group-sm">
      <input type="text" class="form-control" id="ami_search_engine_box_%%ALIAS%%_wildcard" placeholder="Filter, % for wildcarding" />
      <span class="input-group-btn">
        <button class="btn btn-default" onclick="amiSearchEngineApp.applyFilter0('%%ALIAS%%');">Apply</button>
      </span>
    </div>

  </div>
</div>