<li class="nav-item">
	<input class="btn-check" type="checkbox" role="switch" id="B3094B72_95CB_0F9F_0364_0ED6B6DCD6EF" onchange="amiWebApp.themeSet(this.checked ? 'dark' : 'light')" />
	<label class="btn btn-sm btn-link" for="B3094B72_95CB_0F9F_0364_0ED6B6DCD6EF">
		<i class="bi"></i>
	</label>
</li>
