<div class="command-result">
	<div class="text-end">
		<div class="cmd-tools">
			<button type="button" class="btn btn-sm btn-link" onclick="commandApp.copy('{{ url|e }}');">
				<i class="bi bi-clipboard" style="font-size: 1.5rem;"></i>
				<small style="font-size: 0.75rem; margin-left: -1.25rem;">URL</small>
			</button>
			<button type="button" class="btn btn-sm btn-link" onclick="commandApp.copy($(this).closest('.command-result').find('.form-editor').val());">
				<i class="bi bi-clipboard" style="font-size: 1.5rem;"></i>
				<small style="font-size: 0.75rem; margin-left: -1.25rem;">TXT</small>
			</button>
			<button type="button" class="btn btn-sm btn-link" onclick="commandApp.save($(this).closest('.command-result').find('.form-editor').val());">
				<i class="bi bi-download" style="font-size: 1.5rem;"></i>
			</button>
			<button type="button" class="btn btn-sm btn-link" onclick="$(this).closest('.command-result').remove();">
				<i class="bi bi-x-circle" style="font-size: 1.5rem;"></i>
			</button>
		</div>
	</div>
	<textarea class="form-editor mb-2" data-lang="{{ type|e }}" data-show-gutter="true" data-read-only="true" style="border-top-right-radius: 0 !important;">{{ data|e }}</textarea>
</div>
