<!--
 * AMI Web Framework
 *
 * Copyright (c) 2014-XXXX The AMI Team / LPSC / CNRS
 *
 * This file must be used under the terms of the CeCILL-C:
 * http://www.cecill.info/licences/Licence_CeCILL-C_V1-en.html
 * http://www.cecill.info/licences/Licence_CeCILL-C_V1-fr.html
 *
-->

<div class="rounded border mx-auto my-2" style="width: {{width}}px;">

	<div id="E65240C8_73B7_B44C_52BB_388FFEEE01BD" style="height: {{height}}px; width: {{width}}px;"></div>

	<div class="row mx-2 mb-2" id="A1908273_5C91_D702_DA03_41FC7EF2051A">
		<div class="col-md-4">
			{% if xAxis %}
			<div class="form-group">
				<label for="FAEC8E36_E668_9EBB_A36D_243C3F4C28BA">X min:</label>
				<input class="form-control form-control-sm" type="text" id="FAEC8E36_E668_9EBB_A36D_243C3F4C28BA">
			</div>
			{% endif %}
			{% if yAxis %}
			<div class="form-group">
				<label for="E8924675_0D6A_99CE_363C_4BF4475B30FF">Y min:</label>
				<input class="form-control form-control-sm" type="text" id="E8924675_0D6A_99CE_363C_4BF4475B30FF">
			</div>
			{% endif %}
			{% if zAxis %}
			<div class="form-group">
				<label for="AA2E78B1_FC85_C2FA_A5ED_5E1FF3039775">Z min:</label>
				<input class="form-control form-control-sm" type="text" id="AA2E78B1_FC85_C2FA_A5ED_5E1FF3039775">
			</div>
			{% endif %}
		</div>
		<div class="col-md-4">
			{% if xAxis %}
			<div class="form-group">
				<label for="BF663B5D_240E_A97D_9963_03F94166AB22">X max:</label>
				<input class="form-control form-control-sm" type="text" id="BF663B5D_240E_A97D_9963_03F94166AB22">
			</div>
			{% endif %}
			{% if yAxis %}
			<div class="form-group">
				<label for="CD6401B9_5882_F498_0039_FFD4CDF22C65">Y max:</label>
				<input class="form-control form-control-sm" type="text" id="CD6401B9_5882_F498_0039_FFD4CDF22C65">
			</div>
			{% endif %}
			{% if zAxis %}
			<div class="form-group">
				<label for="E56BD713_6FBB_F319_D823_04E17866C674">Z max:</label>
				<input class="form-control form-control-sm" type="text" id="E56BD713_6FBB_F319_D823_04E17866C674">
			</div>
			{% endif %}
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<label for="C7CE39F6_B319_EDDD_CA19_E98DEF899372">Size of bins</label>
				<input class="form-control form-control-sm" type="text" id="C7CE39F6_B319_EDDD_CA19_E98DEF899372" />
			</div>
			<div class="form-group">
				<label>&nbsp;</label>
				<div class="text-right">
					<div class="btn-group">
						<button class="btn btn-sm btn-outline-primary xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" type="button" id="D5A34EA0_1E22_5DEE_473C_2AFA1D9EB28B">
							Redraw
						</button>
						<button class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-split" type="button" data-toggle="dropdown">
							<span class="sr-only">Toggle Dropdown</span>
						</button>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="#" id="B22DE562_B7D4_00D9_605D_544911057E50">View command</a>
							<a class="dropdown-item" href="#" id="BA26C452_5152_0114_7324_0F7F9EFA7E72">View JavaScript</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>