<!-- ******************************************************************** -->

<style type="text/css">

.popover {
	min-width: 675px;
	max-width: 675px;
}

.cmd-tools {
	display: inline-block;

	background-color: rgb(250, 250, 250);

	border-top: 1px solid rgba(0, 0, 0, 0.2);
	border-left: 1px solid rgba(0, 0, 0, 0.2);
	border-right: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 0.5rem 0.5rem 0 0;
}

</style>

<!-- ******************************************************************** -->

<div class="row">
	<div class="col-md-3">
		<div class="card">
			<h5 class="card-header p-2">
				Command list
			</h5>
			<div class="card-body" style="height: 295px; margin: 6px; padding: 0px; overflow-x: hidden; overflow-y: scroll;">
				<div id="D847C44B_D28F_49B3_AF79_7A68B3305ED2"></div>
			</div>
		</div>
		<br />
	</div>
	<div class="col-md-6">
		<div class="card">
			<div class="card-body text-left">
				<div class="form-group">
					<label for="CE9A50CD_63CA_4A1E_B336_F45399BEC84D" class="control-label">Command</label>
					<textarea name="command" rows="5" class="form-control form-control-sm" id="CE9A50CD_63CA_4A1E_B336_F45399BEC84D">{{command|default('GetUserInfo -amiLogin="jodier"')}}</textarea>
				</div>
				<div class="form-group">
					<label for="C8D10895_E8A7_46A0_B638_C8DDDED8F91C" class="control-label">Output format</label>
					<select class="form-control" id="C8D10895_E8A7_46A0_B638_C8DDDED8F91C">
						<option value="">XML</option>
						<option value="AMIXmlToJson.xsl">JSON</option>
						<option value="AMIXmlToText.xsl" selected="selected">TEXT</option>
						<option value="AMIXmlToCsv.xsl">CSV</option>
					</select>
				</div>
			</div>
			<div class="card-footer text-right">
				<button type="button" class="btn btn-primary" id="C124A2A9_B5F5_46F0_AFBC_234859F3F6FA" onclick="commandApp.execute($('#CE9A50CD_63CA_4A1E_B336_F45399BEC84D').val(), $('#C8D10895_E8A7_46A0_B638_C8DDDED8F91C').val());">Submit</button>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<!-- nothing -->
	</div>
</div>

<!-- ******************************************************************** -->

<div id="AB4BA483_EE27_44D0_BB54_F5BFCFE4DA7E"></div>

<!-- ******************************************************************** -->