<div style="position: relative;">
	<div onclick="commandApp.select('{{proto|e}}');">
		{{command|e}}
	</div>
	<button class="btn btn-link" data-toggle="popover" data-container="body" data-placement="right" data-trigger="focus" data-html="true" data-title="{{command|e}}" data-content="&lt;pre&gt;{{help|e}}&lt;/pre&gt;" style="position: absolute; top: -10px; right: 0px;">
		<i class="fa fa-question-circle"></i>
	</button>
</div>