<div class="d-flex">
	<span class="w-100" style="cursor: pointer;" onclick="commandApp.select('{{proto|e}}');">
		{{command|e}}
	</span>
	<a class="flex-shrink-1" href="#" data-toggle="popover" data-boundary="window" data-placement="right" data-trigger="focus" data-html="true" data-title="{{command|e}}" data-content="&lt;pre&gt;{{help|e}}&lt;/pre&gt;">
		<i class="fa fa-question-circle"></i>
	</a>
</div>