<div style="position: relative;">
	<div onclick="commandApp.select('{{proto|e}}');">
		{{command|e}}
	</div>
	<a href="#" data-toggle="popover" data-container="body" data-placement="right" data-trigger="focus" data-html="true" data-title="{{command|e}}" data-content="&lt;pre&gt;{{help|e}}&lt;/pre&gt;" style="position: absolute; top: 00px; right: 20px;">
		<i class="fa fa-question-circle"></i>
	</a>
</div>