<div class="mb-0 mt-2 mt-lg-0">
	<div class="text-right">
		<div class="cmd-tools">
			<button type="button" class="btn btn-sm btn-link" onclick="commandApp.copy($(this).parent().parent().parent().find('url').text());">
				<span class="fa-stack">
					<i class="fa fa-clipboard fa-stack-2x"></i>
					<strong class="fa-stack-1x" style="color: #999;">URL</strong>
				</span>
			</button>
			<button type="button" class="btn btn-sm btn-link" onclick="commandApp.copy($(this).parent().parent().parent().find('code').text());">
				<span class="fa-stack">
					<i class="fa fa-clipboard fa-stack-2x"></i>
					<strong class="fa-stack-1x" style="color: #999;">TXT</strong>
				</span>
			</button>
			<button type="button" class="btn btn-sm btn-link" onclick="commandApp.save($(this).parent().parent().parent().find('code').text());">
				<span class="fa-stack">
					<i class="fa fa-download fa-stack-2x"></i>
					<strong class="fa-stack-1x" style="color: #999;"></strong>
				</span>
			</button>
			<button type="button" class="btn btn-sm btn-link" onclick="$(this).parent().parent().parent().remove();">
				<span class="fa-stack">
					<i class="fa fa-times-circle-o fa-stack-2x"></i>
					<strong class="fa-stack-1x" style="color: #999;"></strong>
				</span>
			</button>
		</div>
	</div>
	<pre class="ami-code" style="border-top-right-radius: 0; margin-top: -1px;"><code><i class="line-number"></i>{{data|replace({'\n': '\n<i class="line-number"></i>'})|e}}</code></pre>
	<url class="d-none">{{url|e}}</url>
</div>