<form class="tabbable" id="D17C089F_FB5D_B2A5_7C9F_65AA0736084F">

	<ul class="nav nav-tabs">
		<li class="nav-item"><a class="nav-link active" href="#AECB0E11_094F_F4DB_103A_5D673E09A36F" data-toggle="tab">General</a></li>
		<li class="nav-item"><a class="nav-link xxxxxx" href="#EFC2B445_664B_FDFB_42FF_1987B77BE7B4" data-toggle="tab">Pools & caches</a></li>
		<li class="nav-item"><a class="nav-link xxxxxx" href="#C5C6F02C_F104_9E65_87A0_2DD60A595BFC" data-toggle="tab">Emails & logs</a></li>
		<li class="nav-item"><a class="nav-link xxxxxx" href="#BBA48F7F_8D3B_4FF0_C29F_6CABF23B3F70" data-toggle="tab">Users</a></li>
		<li class="nav-item"><a class="nav-link xxxxxx" href="#B18672FB_F009_6F9F_77FC_3334CEA56959" data-toggle="tab">Misc.</a></li>
	</ul>

	<div class="tab-content">

		<div class="tab-pane active" id="AECB0E11_094F_F4DB_103A_5D673E09A36F">

			<div class="alert alert-info" role="alert">
				For sections `Server`, `Database` and `Add-ones`, edit `<span id="DF9704CF_51FF_F570_F587_27FB5625A936"></span>`.
			</div>

			<div class="card mt-2">

				<h5 class="card-header p-2"><i class="fa fa-server text-primary"></i> Server</h5>

				<div class="card-body">
					<div class="form-group">
						<label for="DBB39A79_7E9D_77B2_38E2_7EF6C4BE5C72">base_url</label>
						<input class="form-control form-control-sm" type="text" name="base_url" value="" id="DBB39A79_7E9D_77B2_38E2_7EF6C4BE5C72" readonly="readonly" />
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="E6928AB9_6AF8_D25E_D10D_2CECF1596FAC">admin_user</label>
								<input class="form-control form-control-sm" type="text" name="admin_user" value="" id="E6928AB9_6AF8_D25E_D10D_2CECF1596FAC" readonly="readonly" />
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="BD0ADBFA_ED89_62B2_C2B0_E42A5D249F69">admin_pass <span onclick="adminDashboardApp.subsubapp.togglePasswordVisibility($(this));"><i class="fa fa-eye"></i></span></label>
								<input class="form-control form-control-sm" type="password" name="admin_pass" value="" id="BD0ADBFA_ED89_62B2_C2B0_E42A5D249F69" readonly="readonly" />
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="BEF7D930_09C7_069A_8935_0A1563A4943F">sudoer_user</label>
								<input class="form-control form-control-sm" type="text" name="sudoer_user" value="" id="BEF7D930_09C7_069A_8935_0A1563A4943F" readonly="readonly" />
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="BF66E3A1_3D90_2314_B168_79BF6A1ED2E6">sudoer_pass <span onclick="adminDashboardApp.subsubapp.togglePasswordVisibility($(this));"><i class="fa fa-eye"></i></span></label>
								<input class="form-control form-control-sm" type="password" name="sudoer_pass" value="" id="BF66E3A1_3D90_2314_B168_79BF6A1ED2E6" readonly="readonly" />
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="D9887508_5B6E_C64C_DE12_DEA38203C6DF">sso_user</label>
								<input class="form-control form-control-sm" type="text" name="sso_user" value="" id="D9887508_5B6E_C64C_DE12_DEA38203C6DF" readonly="readonly" />
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="AB80987C_03D2_3D21_1ED4_6BD61BE638B4">sso_pass <span onclick="adminDashboardApp.subsubapp.togglePasswordVisibility($(this));"><i class="fa fa-eye"></i></span></label>
								<input class="form-control form-control-sm" type="password" name="sso_pass" value="" id="AB80987C_03D2_3D21_1ED4_6BD61BE638B4" readonly="readonly" />
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="A402383D_1E52_8B38_AEFA_D8BF41042994">guest_user</label>
								<input class="form-control form-control-sm" type="text" name="guest_user" value="" id="A402383D_1E52_8B38_AEFA_D8BF41042994" readonly="readonly" />
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="E3593D78_7D73_50DA_E7D5_5AE1279572DA">guest_pass <span onclick="adminDashboardApp.subsubapp.togglePasswordVisibility($(this));"><i class="fa fa-eye"></i></span></label>
								<input class="form-control form-control-sm" type="password" name="guest_pass" value="" id="E3593D78_7D73_50DA_E7D5_5AE1279572DA" readonly="readonly" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<label for="C12BFB0A_AAC1_277D_C70E_B7A57D8049BB">admin_email</label>
						<input class="form-control form-control-sm" type="email" name="admin_email" value="" id="C12BFB0A_AAC1_277D_C70E_B7A57D8049BB" readonly="readonly" />
					</div>

					<div class="form-group">
						<label for="AF1F835B_A41E_A14A_308E_EA4943713775">encryption_key <span onclick="adminDashboardApp.subsubapp.togglePasswordVisibility($(this));"><i class="fa fa-eye"></i></span></label>
						<input class="form-control form-control-sm" type="password" name="encryption_key" value="" id="AF1F835B_A41E_A14A_308E_EA4943713775" readonly="readonly" />
					</div>

				</div>

			</div>

			<div class="card mt-2">

				<h5 class="card-header p-2"><i class="fa fa-database text-primary"></i> Database</h5>

				<div class="card-body">

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="D599B140_93F3_2D47_B080_C82D0A34B074">router_catalog</label>
								<input class="form-control form-control-sm" type="text" name="router_catalog" value="" id="D599B140_93F3_2D47_B080_C82D0A34B074" readonly="readonly" />
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="D9C6E4A6_1486_147C_567B_F701BB8BCB25">router_schema</label>
								<input class="form-control form-control-sm" type="text" name="router_schema" value="" id="D9C6E4A6_1486_147C_567B_F701BB8BCB25" readonly="readonly" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<label for="D7B7F607_6B1C_96FF_A6D1_EC3C39C06938">router_url</label>
						<input class="form-control form-control-sm" type="text" name="router_url" value="" id="D7B7F607_6B1C_96FF_A6D1_EC3C39C06938" readonly="readonly" />
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="C0FEFC6E_506F_4B60_0852_2FC715747DB4">router_user</label>
								<input class="form-control form-control-sm" type="text" name="router_user" value="" id="C0FEFC6E_506F_4B60_0852_2FC715747DB4" readonly="readonly" />
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="DEF65623_22AE_A209_5F1F_B769147646BA">router_pass <span onclick="adminDashboardApp.subsubapp.togglePasswordVisibility($(this));"><i class="fa fa-eye"></i></span></label>
								<input class="form-control form-control-sm" name="router_pass" type="password" value="" id="DEF65623_22AE_A209_5F1F_B769147646BA" readonly="readonly" />
							</div>
						</div>
					</div>

				</div>

			</div>

			<div class="card mt-2">

				<h5 class="card-header p-2"><i class="fa fa-plug text-primary"></i> Add-ones</h5>

				<div class="card-body">

					<div class="form-group">
						<label for="CDEE1045_A2E5_A314_E01A_EE214612AE91">class_path</label>
						<input class="form-control form-control-sm" type="text" name="class_path" value="" id="CDEE1045_A2E5_A314_E01A_EE214612AE91" readonly="readonly" />
					</div>

				</div>

			</div>

		</div>

		<div class="tab-pane" id="EFC2B445_664B_FDFB_42FF_1987B77BE7B4">

			<div class="card mt-2">

				<h5 class="card-header p-2"><i class="fa fa-th-large text-primary"></i> Connection pool</h5>

				<div class="card-body">

					<div class="form-group">
						<label for="D0C89264_4608_DACF_2ADF_769574445992">pool_enabled</label>
						<select class="custom-select custom-select-sm" name="pool_enabled" id="D0C89264_4608_DACF_2ADF_769574445992">
							<option value="true">true</option>
							<option value="false">false</option>
						</select>
					</div>

					<div class="form-group">
						<label for="C0984FFD_179F_CAFF_958D_91BF5844E858">pool_size</label>
						<input class="form-control form-control-sm" type="number" name="initial_size" min="1" value="10" id="C0984FFD_179F_CAFF_958D_91BF5844E858" />
					</div>

					<div class="form-group">
						<label for="D8E0065A_6BFF_1381_5C54_3603EFB1E54F">pool_conn_timeout [ms]</label>
						<input class="form-control form-control-sm" type="number" name="pool_conn_timeout" min="250" value="30000" id="D8E0065A_6BFF_1381_5C54_3603EFB1E54F" />
					</div>

					<div class="form-group">
						<label for="BEF3BAD9_4861_D2A7_0BDD_F8C8A7738F2A">pool_idle_timeout [ms]</label>
						<input class="form-control form-control-sm" type="number" name="pool_idle_timeout" min="10000" value="600000" id="BEF3BAD9_4861_D2A7_0BDD_F8C8A7738F2A" />
					</div>

				</div>

			</div>

			<div class="card mt-2">

				<h5 class="card-header p-2"><i class="fa fa-refresh text-primary"></i> Command cache</h5>

				<div class="card-body">

					<div class="form-group">
						<label for="B4391EF0_F480_2547_71A2_F0D25A310382">memcached_enabled</label>
						<select class="custom-select custom-select-sm" name="memcached_enabled" id="B4391EF0_F480_2547_71A2_F0D25A310382">
							<option value="false">false</option>
							<option value="true">true</option>
						</select>
					</div>

					<div class="form-group">
						<label for="BDFD511F_D66F_921D_00EC_FA8911A7D1E7">memcached_host</label>
						<input class="form-control form-control-sm" type="text" name="memcached_host" value="localhost" id="BDFD511F_D66F_921D_00EC_FA8911A7D1E7" />
					</div>

					<div class="form-group">
						<label for="E2DE15C0_575E_AFA3_5505_1A92183F6501">memcached_port</label>
						<input class="form-control form-control-sm" type="number" name="memcached_port" min="0" max="65535" value="11211" id="E2DE15C0_575E_AFA3_5505_1A92183F6501" />
					</div>

					<div class="form-group">
						<label for="D095BE4E_A602_B5AC_FD2C_FAB2981E1A83">memcached_expiration [s]</label>
						<input class="form-control form-control-sm" type="number" name="memcached_expiration" min="0" value="3600" id="D095BE4E_A602_B5AC_FD2C_FAB2981E1A83" />
					</div>

				</div>

			</div>

		</div>

		<div class="tab-pane" id="C5C6F02C_F104_9E65_87A0_2DD60A595BFC">

			<div class="card mt-2">

				<h5 class="card-header p-2"><i class="fa fa-envelope text-primary"></i> Emails</h5>

				<div class="card-body">

					<div class="form-group">
						<label for="B6333D09_8956_670D_633A_E3D86820A901">email_host</label>
						<input class="form-control form-control-sm" type="text" name="email_host" value="" id="B6333D09_8956_670D_633A_E3D86820A901" />
					</div>

					<div class="form-group">
						<label for="DDB724BC_3C4B_D28B_BB01_8A262C37E414">email_port</label>
						<input class="form-control form-control-sm" type="number" name="email_port" min="0" max="65535" value="" id="DDB724BC_3C4B_D28B_BB01_8A262C37E414" />
					</div>

					<div class="form-group">
						<label for="B6EC0FD3_3AA6_5F4E_48BE_754750C13BF2">email_mode</label>
						<select class="custom-select custom-select-sm" name="email_mode" id="B6EC0FD3_3AA6_5F4E_48BE_754750C13BF2">
							<option value="0">NONE</option>
							<option value="1">SSL</option>
							<option value="2">TLS</option>
						</select>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="FE75C5BA_B360_1010_A2E8_71BFC8E31A5C">email_user</label>
								<input class="form-control form-control-sm" type="text" name="email_user" value="" id="FE75C5BA_B360_1010_A2E8_71BFC8E31A5C" />
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="C2CD0717_606C_AE3C_03A6_0973FCE42F61">email_pass <span onclick="adminDashboardApp.subsubapp.togglePasswordVisibility($(this));"><i class="fa fa-eye"></i></span></label>
								<input class="form-control form-control-sm" type="password" name="email_pass" value="" id="C2CD0717_606C_AE3C_03A6_0973FCE42F61" />
							</div>
						</div>
					</div>

					<hr />

					<div class="row">
						<div class="col-md-6">
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="EF7B0FC2_4754_7B61_BC0F_5CF7DDD630A6">Test</label>
								<div class="input-group input-group-sm">
									<input class="form-control" type="email" value="" id="EF7B0FC2_4754_7B61_BC0F_5CF7DDD630A6" placeholder="Email adresse" />
									<div class="input-group-append">
										<span class="btn btn-outline-success" onclick="adminDashboardApp.subsubapp.testEmail($('#EF7B0FC2_4754_7B61_BC0F_5CF7DDD630A6').val());">
											<i class="fa fa-check"></i>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>

			<div class="card mt-2">

				<h5 class="card-header p-2"><i class="fa fa-file-text text-primary"></i> Logs</h5>

				<div class="card-body">

					<div class="form-group">
						<label for="BAD88E12_35FE_A93B_315A_681138989CDE">dev_mode</label>
						<select class="custom-select custom-select-sm" name="dev_mode" id="BAD88E12_35FE_A93B_315A_681138989CDE">
							<option value="false">false</option>
							<option value="true">true</option>
						</select>
					</div>

					<div class="form-group">
						<label for="BA484238_6691_F95E_E2C7_B1B9F962997A">log_level</label>
						<select class="custom-select custom-select-sm" name="log_level" id="BA484238_6691_F95E_E2C7_B1B9F962997A">
							<option value="ALL">ALL</option>
							<option value="TRACE">TRACE</option>
							<option value="DEBUG">DEBUG</option>
							<option value="INFO">INFO</option>
							<option value="WARN">WARN</option>
							<option value="ERROR">ERROR</option>
							<option value="FATAL">FATAL</option>
							<option value="OFF">OFF</option>
						</select>
					</div>

					<div class="form-group">
						<label for="EF356F0E_57B1_557B_E250_D0F7D7984661">log_to (comma separated emails)</label>
						<input class="form-control form-control-sm" type="text" name="log_to" value="" id="EF356F0E_57B1_557B_E250_D0F7D7984661" />
					</div>

					<div class="form-group">
						<label for="B252B8E1_A004_FAE8_439F_BA1176920718">log_cc (comma separated emails)</label>
						<input class="form-control form-control-sm" type="text" name="log_cc" value="" id="B252B8E1_A004_FAE8_439F_BA1176920718" />
					</div>

				</div>

			</div>

		</div>

		<div class="tab-pane" id="BBA48F7F_8D3B_4FF0_C29F_6CABF23B3F70">

			<div class="card mt-2">

				<h5 class="card-header p-2"><i class="fa fa-shield text-primary"></i> User data Protection</h5>

				<div class="card-body">

					<div class="form-group">
						<label for="F6E3FA68_5910_D015_24E9_82CFAD648B24">terms_and_conditions</label>
						<input class="form-control form-control-sm" type="text" name="terms_and_conditions" value="" id="F6E3FA68_5910_D015_24E9_82CFAD648B24" />
					</div>

				</div>

			</div>

			<div class="card mt-2">

				<h5 class="card-header p-2"><i class="fa fa-user text-primary"></i> User management</h5>

				<div class="card-body">

					<div class="form-group">
						<label for="C3B15C87_4404_450C_C393_CB43030AB001">has_virtual_organization_management_system</label>
						<select class="custom-select custom-select-sm" name="has_virtual_organization_management_system" id="C3B15C87_4404_450C_C393_CB43030AB001">
							<option value="false">false</option>
							<option value="true">true</option>
						</select>
					</div>

					<div class="form-group">
						<label for="BBCDCD19_3A47_E8DF_0D94_2560FF21E385">user_validator_class</label>
						<input class="form-control form-control-sm" type="text" name="user_validator_class" value="" id="BBCDCD19_3A47_E8DF_0D94_2560FF21E385" />
					</div>

				</div>

			</div>

			<div class="card mt-2">

				<h5 class="card-header p-2"><i class="fa fa-sign-in text-primary"></i> Single Sign-On</h5>

				<div class="card-body">

					<div class="form-group">
						<label for="D4B322B3_31E0_885F_5777_A9AE02102A94">sso_label</label>
						<input class="form-control form-control-sm" type="text" name="sso_label" value="SSO" id="D4B322B3_31E0_885F_5777_A9AE02102A94" />
					</div>

					<div class="form-group">
						<label for="FBF7CABB_E6F1_913D_A1F7_6E6E37F77007">sso_url</label>
						<input class="form-control form-control-sm" type="text" name="sso_url" value="N/A" id="FBF7CABB_E6F1_913D_A1F7_6E6E37F77007" />
					</div>

				</div>

			</div>

		</div>

		<div class="tab-pane" id="B18672FB_F009_6F9F_77FC_3334CEA56959">

			<div class="card mt-2">

				<h5 class="card-header p-2"><i class="fa fa-table text-primary"></i> SQL / MQL</h5>

				<div class="card-body">

					<div class="form-group">
						<label for="C62A433E_EB36_42F2_C3CE_71E69045CD06">rebuild_schema_cache_in_background</label>
						<select class="custom-select custom-select-sm" name="rebuild_schema_cache_in_background" id="C62A433E_EB36_42F2_C3CE_71E69045CD06">
							<option value="false">false</option>
							<option value="true">true</option>
						</select>
					</div>

					<div class="form-group">
						<label for="CB2F97D6_7DC2_F0FF_888A_7BB399F96B8E">max_path_length</label>
						<input class="form-control form-control-sm" type="number" name="max_path_length" min="1" value="4" id="CB2F97D6_7DC2_F0FF_888A_7BB399F96B8E" />
					</div>

					<div class="form-group">
						<label for="F28B83AF_251A_915B_F0FC_993E94E52C17">max_number_of_rows</label>
						<input class="form-control form-control-sm" type="number" name="max_number_of_rows" min="1" value="10000" id="F28B83AF_251A_915B_F0FC_993E94E52C17" />
					</div>

				</div>

			</div>

			<div class="card mt-2">

				<h5 class="card-header p-2"><i class="fa fa-upload text-primary"></i> Storage</h5>

				<div class="card-body">

					<div class="form-group">
						<label for="F6CF6DDA_4029_F844_B53C_866505FC3ACE">storage_root_path</label>
						<input class="form-control form-control-sm" type="text" name="storage_root_path" value="" id="F6CF6DDA_4029_F844_B53C_866505FC3ACE" />
					</div>

				</div>

			</div>

			<div class="card mt-2">

				<h5 class="card-header p-2">Custom <a href="javascript:adminDashboardApp.subsubapp.addParameter();"><i class="fa fa-plus-circle"></i></a></h5>

				<div class="card-body" id="B5C738DB_B705_5E37_24CD_B265532D0853"></div>

			</div>

		</div>

	</div>

</form>