<div class="text-center">
	<button class="btn btn-outline-primary mb-2" onclick="adminDashboardApp.subsubapp.apply();" style="width: 80%;"><i class="fa fa-check"></i> Apply</button>
	<br />
	<button class="btn btn-outline-danger mb-2" onclick="adminDashboardApp.subsubapp.reset();" style="width: 80%;"><i class="fa fa-times"></i> Reset</button>
	<hr />
	<button class="btn btn-outline-primary mb-2" onclick="adminDashboardApp.flushServerCachesSlow();" style="width: 80%;"><i class="fa fa-refresh"></i> Flush server caches (full)</button>
	<br />
	<button class="btn btn-outline-primary mb-2" onclick="adminDashboardApp.flushServerCachesFast();" style="width: 80%;"><i class="fa fa-refresh"></i> Flush server caches (partial)</button>
</div>