<div class="text-center">

	<button class="btn btn-outline-primary mb-2" onclick="adminDashboardApp.subsubapp.apply();" style="width: 66%;"><i class="fa fa-check"></i> Apply</button>

	<br />

	<button class="btn btn-outline-warning mb-2" onclick="adminDashboardApp.subsubapp.reset();" style="width: 66%;"><i class="fa fa-times"></i> Reset</button>

</div>
